<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="这是阿富汗国情小站的首页">
    <meta name="author" content="非凡大师小组">
    <title>阿富汗国情小站</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">

    <!-- Owl Carousel Assets -->
    <link href="../static/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="../static/owl-carousel/owl.theme.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="../static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="../static/font-awesome-4.4.0/css/font-awesome.min.css" type="text/css">

    <!-- jQuery and Modernizr-->
    <script src="../static/js/jquery-2.1.1.js"></script>

    <!-- Core JavaScript Files -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="../static/js/html5shiv.js"></script>
    <script src="../static/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<header>
    <!--Top-->
    <nav id="top">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <strong>欢迎光临!阿富汗国情小站</strong>
                </div>
                {#                <div class="col-md-6">#}
                {#                    <ul class="list-inline top-link link">#}
                {#                        <li><a href="afghanistan_overview.html"><i class="fa fa-home"></i> 首页</a></li>#}
                {#                        <li><a href="contact.html"><i class="fa fa-comments"></i> 联系我们</a></li>#}
                {##}
                {#                    </ul>#}
                {#                </div>#}
            </div>
        </div>
    </nav>

    <!--Navigation-->
    <nav id="menu" class="navbar container">
        <div class="navbar-header">
            <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
            <a class="navbar-brand" href="#">
                <div class="logo"><span>阿富汗国情小站</span></div>
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/Afghanistan"><i class="fa fa-home"></i> 首页</a></li>
                <li><a href="/Afghanistan/history"><i class="fa fa-history"></i> 历史</a></li>
                <li><a href="/Afghanistan/culture"><i class="fa fa-globe"></i> 文化</a></li>
                <li><a href="/Afghanistan/diplomacy"><i class="fa fa-users"></i> 外交</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">更多<i
                        class="fa fa-arrow-circle-o-down"></i></a>
                    <div class="dropdown-menu">
                        <div class="dropdown-inner">
                            <ul class="list-unstyled">
                                <li><a href="/Afghanistan/message">人口信息</a></li>
                                <li><a href="/Afghanistan/map">地图</a></li>

                            </ul>
                        </div>
                    </div>
                </li>
                <li><a href="./Afghanistan/contact"><i class="fa fa-comments"></i> 联系我们</a></li>
            </ul>
            {#            <ul class="list-inline navbar-right top-social">#}
            {#                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
            {#                <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
            {#                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>#}
            {#                <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>#}
            {#                <li><a href="#"><i class="fa fa-youtube"></i></a></li>#}
            {#            </ul>#}
        </div>
    </nav>
</header>
<div class="featured container">
    <div class="row">
        <div class="col-sm-8">
            <!-- Carousel -->
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="../static/images/1.jpg" alt="First slide">
                        <!-- Static Header -->
                        <div class="header-text hidden-xs">
                            <div class="col-md-12 text-center">
                                <h2>新华社：阿富汗风云突变，对周边国家有何影响？ </h2>
                                <br>
                                <h3>阿富汗塔利班（阿塔）日前进占首都喀布尔，宣布阿富汗战争结束。阿富汗局势的急剧变化超出不少国家预期，牵动地区安全局势。</h3>
                                <br>
                            </div>
                        </div><!-- /header-text -->
                    </div>
                    <div class="item">
                        <img src="../static/images/2.jpg" alt="Second slide">
                        <!-- Static Header -->
                        <div class="header-text hidden-xs">
                            <div class="col-md-12 text-center">
                                <h2>大外交｜阿富汗“变天”对中国意味着什么？</h2>
                                <br>
                                <h3>
                                    对外界宣告阿富汗战争的结束和塔利班时代的再临，这个与中国接壤的国家正走在历史的十字路口上。</h3>
                                <br>
                            </div>
                        </div><!-- /header-text -->
                    </div>
                    <div class="item">
                        <img src="../static/images/3.jpg" alt="Third slide">
                        <!-- Static Header -->
                        <div class="header-text hidden-xs">
                            <div class="col-md-12 text-center">
                                <h2>新华社北京8月16日电综合新华社驻外记者报道：</h2>
                                <br>
                                <h3>
                                    　阿富汗塔利班15日晚进入并控制首都喀布尔。塔利班方面宣布，他们正与阿政府商讨“和平移交权力”，“阿富汗战争已经结束”。对此，国际社会高度关注，一些国家政要和国际组织负责人相继表态。</h3>
                                <br>
                            </div>
                        </div><!-- /header-text -->
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div><!-- /carousel -->
        </div>
        <div class="col-sm-4">
            <div id="owl-demo-1" class="owl-carousel">
                <img src="../static/images/slide-2.jpg"/>
                <img src="../static/images/slide-1.jpg"/>
                <img src="../static/images/slide-3.jpg"/>
            </div>
            <img src="../static/images/banner.jpg"/>
        </div>
    </div>
</div>
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content" class="single-page container">
		<div class="row">
			<div id="main-content" class="col-md-8">
				<div class="box wrap-vid">
                    <div class="zoom-container">
                        <div class="zoom-caption">
                            <span class="fa-bilibili">BILIBILI</span>
                            <a href="map.html">
                                <i class="fa fa-play icon-play" style="color: #fff"></i>
                            </a>
                            <p>阿富汗新闻</p>
                        </div>
                        <img src="../static/images/4.jpg"/>
                    </div>
                    <h3 class="vid-name"><a href="#">阿富汗新闻</a></h3>
                    <div class="info">
                        <h5>By <a href="#">Kelvin</a></h5>
                        <span><i class="fa fa-calendar"></i>25/3/2024</span>
                        <span><i class="fa fa-heart"></i>1,200</span>
                    </div>
                    <p class="more">
                        近日，在中国外交部的例行记者会上，中外记者一连三天都不停提问有关阿富汗局势的问题，外界迫切希望更多了解中方对于阿富汗局势和塔利班政权的态度。与此同时，国际上对于阿富汗国内“变天”的讨论格外热烈，人们期待着这个历经四十余年战火的国家可从此凤凰涅槃，但也不曾忘记二十年前塔利班执政时留下的那些回忆和伤痕。对于中国来说，则有三个关键方面亟待更深入的分析与解答。</p>
                </div>
                <div class="box">
                    <div class="box-header header-vimeo">
                        <h2>视频</h2>
                    </div>
                    <div class="box-content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="wrap-vid">
                                    <div class="zoom-container">
                                        <div class="zoom-caption">
                                            <span class="vimeo">Vimeo</span>
                                            <a href="map.html">
                                                <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                            </a>
                                            <p>阿富汗新闻</p>
                                        </div>
                                        <img src="../static/images/2.jpg"/>
                                    </div>
                                    <h3 class="vid-name"><a href="#">阿富汗新闻</a></h3>
                                    <div class="info">
                                        <h5>By <a href="#">Kelvin</a></h5>
                                        <span><i class="fa fa-calendar"></i>25/3/2024</span>
                                        <span><i class="fa fa-heart"></i>1,200</span>
                                    </div>
                                </div>
                                <p class="more">
                                    联合国秘书长古特雷斯16日在安理会就阿富汗局势召开的紧急会议上说，国际社会必须共同努力，确保阿富汗不再成为恐怖组织的温床。他还说，联合国驻阿富汗人员将根据当地安全形势进行调整.</p>
                            </div>
                            <div class="col-md-6">
                                <div class="post wrap-vid">
                                    <div class="zoom-container">
                                        <div class="zoom-caption">
                                            <span class="vimeo">Vimeo</span>
                                            <a href="map.html">
                                                <i class="fa fa-play-circle-o fa-3x" style="color: #fff"></i>
                                            </a>
                                            <p>阿富汗新闻</p>
                                        </div>
                                        <img src="../static/images/1.jpg"/>
                                    </div>
                                    <div class="wrapper">
                                        <h5 class="vid-name"><a href="#">阿富汗新闻</a></h5>
                                        <div class="info">
                                            <h6>By <a href="#">Kelvin</a></h6>
                                            <span><i class="fa fa-heart"></i>1,200 / <i class="fa fa-calendar"></i>25/3/2024</span>
                                            <span class="rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-half"></i>
												</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="post wrap-vid">
                                    <div class="zoom-container">
                                        <div class="zoom-caption">
                                            <span class="vimeo">Vimeo</span>
                                            <a href="map.html">
                                                <i class="fa fa-play-circle-o fa-3x" style="color: #fff"></i>
                                            </a>
                                            <p>阿富汗新闻</p>
                                        </div>
                                        <img src="../static/images/2.jpg"/>
                                    </div>
                                    <div class="wrapper">
                                        <h5 class="vid-name"><a href="#">阿富汗新闻</a></h5>
                                        <div class="info">
                                            <h6>By <a href="#">Kelvin</a></h6>
                                            <span><i class="fa fa-heart"></i>1,200 / <i class="fa fa-calendar"></i>25/3/2024</span>
                                            <span class="rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="post wrap-vid">
                                    <div class="zoom-container">
                                        <div class="zoom-caption">
                                            <span class="vimeo">Vimeo</span>
                                            <a href="map.html">
                                                <i class="fa fa-play-circle-o fa-3x" style="color: #fff"></i>
                                            </a>
                                            <p>阿富汗新闻</p>
                                        </div>
                                        <img src="../static/images/3.jpg"/>
                                    </div>
                                    <div class="wrapper">
                                        <h5 class="vid-name"><a href="#">阿富汗新闻</a></h5>
                                        <div class="info">
                                            <h6>By <a href="#">Kelvin</a></h6>
                                            <span><i class="fa fa-heart"></i>1,200 / <i class="fa fa-calendar"></i>25/3/2024</span>
                                            <span class="rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-half"></i>
												</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="post wrap-vid">
                                    <div class="zoom-container">
                                        <div class="zoom-caption">
                                            <span class="vimeo">Vimeo</span>
                                            <a href="map.html">
                                                <i class="fa fa-play-circle-o fa-3x" style="color: #fff"></i>
                                            </a>
                                            <p>阿富汗新闻</p>
                                        </div>
                                        <img src="../static/images/1.jpg"/>
                                    </div>
                                    <div class="wrapper">
                                        <h5 class="vid-name"><a href="#">阿富汗新闻</a></h5>
                                        <div class="info">
                                            <h6>By <a href="#">Kelvin</a></h6>
                                            <span><i class="fa fa-heart"></i>1,200 / <i class="fa fa-calendar"></i>25/3/2024</span>
                                            <span class="rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-half"></i>
												</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="box-header header-photo">
                        <h2>展示</h2>
                    </div>
                    <div class="box-content">
                        <div id="owl-demo-2" class="owl-carousel">
                            <div class="item">
                                <img src="../static/images/1.jpg"/>
                                <img src="../static/images/2.jpg"/>
                            </div>
                            <div class="item">
                                <img src="../static/images/3.jpg"/>
                                <img src="../static/images/5.jpg"/>
                            </div>
                            <div class="item">
                                <img src="../static/images/8.jpg"/>
                                <img src="../static/images/9.jpg"/>
                            </div>
                            <div class="item">
                                <img src="../static/images/10.jpg"/>
                                <img src="../static/images/11.jpg"/>
                            </div>
                            <div class="item">
                                <img src="../static/images/12.jpg"/>
                                <img src="../static/images/13.jpg"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="box-header header-natural">
                        <h2>要闻</h2>
                    </div>
                    <div class="box-content">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="../static/images/6.jpg"/>
                                <h3>
                                    <a href="#">　美国国务卿布林肯当天也表示，阿富汗政府军无法保卫自己的国家，并承认塔利班控制阿富汗的速度比“我们预计的快得多”。</a>
                                </h3>
                                <span><i class="fa fa-heart"></i> 1,200 / <i class="fa fa-calendar"></i> 25/3/2024 / <i
                                        class="fa fa-comment-o"> / </i> 10 <i class="fa fa-eye"></i> 945</span>
                                <span class="rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half"></i>
									</span>
                                <p>
                                    俄罗斯总统阿富汗问题特别代表扎米尔·卡布洛夫16日说，塔利班控制喀布尔是美国在阿富汗失败的结果。俄方暂不会承认塔利班为阿富汗合法政权，将继续观察塔利班如何行事。塔利班已着手在俄罗斯驻阿富汗大使馆外围加强保护，俄罗斯驻阿富汗大使17日将在喀布尔与塔利班代表会面。</p>
                            </div>
                            <div class="col-md-6">
                                <img src="../static/images/7.jpg"/>
                                <h3><a href="#">塔利班掌权对中国在阿利益有何影响？</a></h3>
                                <span><i class="fa fa-heart"></i> 1,200 / <i class="fa fa-calendar"></i> 25/3/2024 / <i
                                        class="fa fa-comment-o"> / </i> 3 <i class="fa fa-eye"></i> 1007</span>
                                <span class="rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half"></i>
									</span>
                                <p>
                                    巴基斯坦国家安全委员会16日举行会议重申，巴基斯坦将继续同国际社会和阿富汗各利益攸关方一道，推动就阿富汗问题达成具有包容性的政治解决方案。巴基斯坦始终认为，阿富汗冲突没有军事解决方案。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     <div id="sidebar" class="col-md-4">
                <!---- Start Widget ---->
                <div class="widget wid-vid">
                    <div class="heading">
                        <h4>最新情况</h4>
                    </div>
                    <div class="content">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#most">近期</a></li>
                            <li><a data-toggle="tab" href="#popular">近7天</a></li>
                            <li><a data-toggle="tab" href="#random">近一个月</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="most" class="tab-pane fade in active">
                                <div class="post wrap-vid">
                                    <div class="zoom-container">
                                        <div class="zoom-caption">
                                            <span class="youtube">Youtube</span>
                                            <a href="map.html">
                                                <i class="fa fa-play-circle-o fa-3x" style="color: #fff"></i>
                                            </a>
                                            <p>阿富汗新闻</p>
                                        </div>
                                        <img src="../static/images/4.jpg"/>
                                    </div>
                                    <div class="wrapper">
                                        <h5 class="vid-name"><a href="#">阿富汗新闻</a></h5>
                                        <div class="info">
                                            <h6>By <a href="#">Kelvin</a></h6>
                                            <span><i class="fa fa-heart"></i>1,200 / <i class="fa fa-calendar"></i>25/3/2024</span>
                                            <span class="rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-half"></i>
												</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="post wrap-vid">
                                    <div class="zoom-container">
                                        <div class="zoom-caption">
                                            <span class="vimeo">Vimeo</span>
                                            <a href="map.html">
                                                <i class="fa fa-play-circle-o fa-3x" style="color: #fff"></i>
                                            </a>
                                            <p>阿富汗新闻</p>
                                        </div>
                                        <img src="../static/images/4.jpg"/>
                                    </div>
                                    <div class="wrapper">
                                        <h5 class="vid-name"><a href="#">阿富汗新闻</a></h5>
                                        <div class="info">
                                            <h6>By <a href="#">Kelvin</a></h6>
                                            <span><i class="fa fa-heart"></i>1,200 / <i class="fa fa-calendar"></i>25/3/2024</span>
                                            <span class="rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-half"></i>
												</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="post wrap-vid">
                                    <div class="zoom-container">
                                        <div class="zoom-caption">
                                            <span class="youtube">Youtube</span>
                                            <a href="map.html">
                                                <i class="fa fa-play-circle-o fa-3x" style="color: #fff"></i>
                                            </a>
                                            <p>阿富汗新闻</p>
                                        </div>
                                        <img src="../static/images/4.jpg"/>
                                    </div>
                                    <div class="wrapper">
                                        <h5 class="vid-name"><a href="#">阿富汗新闻</a></h5>
                                        <div class="info">
                                            <h6>By <a href="#">Kelvin</a></h6>
                                            <span><i class="fa fa-heart"></i>1,200 / <i class="fa fa-calendar"></i>25/3/2024</span>
                                            <span class="rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-half"></i>
												</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="popular" class="tab-pane fade">
                                <div class="post wrap-vid">
                                    <div class="zoom-container">
                                        <div class="zoom-caption">
                                            <span class="youtube">Youtube</span>
                                            <a href="map.html">
                                                <i class="fa fa-play-circle-o fa-3x" style="color: #fff"></i>
                                            </a>
                                            <p>阿富汗新闻</p>
                                        </div>
                                        <img src="../static/images/4.jpg"/>
                                    </div>
                                    <div class="wrapper">
                                        <h5 class="vid-name"><a href="#">阿富汗新闻</a></h5>
                                        <div class="info">
                                            <h6>By <a href="#">Kelvin</a></h6>
                                            <span><i class="fa fa-heart"></i>1,200 / <i class="fa fa-calendar"></i>25/3/2024</span>
                                            <span class="rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-half"></i>
												</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="post wrap-vid">
                                    <div class="zoom-container">
                                        <div class="zoom-caption">
                                            <span class="youtube">Youtube</span>
                                            <a href="map.html">
                                                <i class="fa fa-play-circle-o fa-3x" style="color: #fff"></i>
                                            </a>
                                            <p>阿富汗新闻</p>
                                        </div>
                                        <img src="../static/images/4.jpg"/>
                                    </div>
                                    <div class="wrapper">
                                        <h5 class="vid-name"><a href="#">阿富汗新闻</a></h5>
                                        <div class="info">
                                            <h6>By <a href="#">Kelvin</a></h6>
                                            <span><i class="fa fa-heart"></i>1,200 / <i class="fa fa-calendar"></i>25/3/2024</span>
                                            <span class="rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-half"></i>
												</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="post wrap-vid">
                                    <div class="zoom-container">
                                        <div class="zoom-caption">
                                            <span class="vimeo">Vimeo</span>
                                            <a href="map.html">
                                                <i class="fa fa-play-circle-o fa-3x" style="color: #fff"></i>
                                            </a>
                                            <p>阿富汗新闻</p>
                                        </div>
                                        <img src="../static/images/4.jpg"/>
                                    </div>
                                    <div class="wrapper">
                                        <h5 class="vid-name"><a href="#">阿富汗新闻</a></h5>
                                        <div class="info">
                                            <h6>By <a href="#">Kelvin</a></h6>
                                            <span><i class="fa fa-heart"></i>1,200 / <i class="fa fa-calendar"></i>25/3/2024</span>
                                            <span class="rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-half"></i>
												</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="random" class="tab-pane fade">
                                <div class="post wrap-vid">
                                    <div class="zoom-container">
                                        <div class="zoom-caption">
                                            <span class="vimeo">Vimeo</span>
                                            <a href="map.html">
                                                <i class="fa fa-play-circle-o fa-3x" style="color: #fff"></i>
                                            </a>
                                            <p>阿富汗新闻</p>
                                        </div>
                                        <img src="../static/images/4.jpg"/>
                                    </div>
                                    <div class="wrapper">
                                        <h5 class="vid-name"><a href="#">阿富汗新闻</a></h5>
                                        <div class="info">
                                            <h6>By <a href="#">Kelvin</a></h6>
                                            <span><i class="fa fa-heart"></i>1,200 / <i class="fa fa-calendar"></i>25/3/2024</span>
                                            <span class="rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-half"></i>
												</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="post wrap-vid">
                                    <div class="zoom-container">
                                        <div class="zoom-caption">
                                            <span class="vimeo">Vimeo</span>
                                            <a href="map.html">
                                                <i class="fa fa-play-circle-o fa-3x" style="color: #fff"></i>
                                            </a>
                                            <p>阿富汗新闻</p>
                                        </div>
                                        <img src="../static/images/4.jpg"/>
                                    </div>
                                    <div class="wrapper">
                                        <h5 class="vid-name"><a href="#">阿富汗新闻</a></h5>
                                        <div class="info">
                                            <h6>By <a href="#">Kelvin</a></h6>
                                            <span><i class="fa fa-heart"></i>1,200 / <i class="fa fa-calendar"></i>25/3/2024</span>
                                            <span class="rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-half"></i>
												</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="post wrap-vid">
                                    <div class="zoom-container">
                                        <div class="zoom-caption">
                                            <span class="vimeo">Vimeo</span>
                                            <a href="map.html">
                                                <i class="fa fa-play-circle-o fa-3x" style="color: #fff"></i>
                                            </a>
                                            <p>阿富汗新闻</p>
                                        </div>
                                        <img src="../static/images/4.jpg"/>
                                    </div>
                                    <div class="wrapper">
                                        <h5 class="vid-name"><a href="#">阿富汗新闻</a></h5>
                                        <div class="info">
                                            <h6>By <a href="#">Kelvin</a></h6>
                                            <span><i class="fa fa-heart"></i>1,200 / <i class="fa fa-calendar"></i>25/3/2024</span>
                                            <span class="rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-half"></i>
												</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!---- Start Widget ---->
                <div class="widget wid-gallery">
                    <div class="heading"><h4>爱心画栏</h4></div>
                    <div class="content">
                        <div class="col-md-4">
                            <div class="row">
                                <a href="#"><img src="../static/images/14.jpg"/></a>
                                <a href="#"><img src="../static/images/15.jpg"/></a>
                                <a href="#"><img src="../static/images/20.jpg"/></a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <a href="#"><img src="../static/images/16.jpg"/></a>
                                <a href="#"><img src="../static/images/17.jpg"/></a>
                                <a href="#"><img src="../static/images/21.jpg"/></a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <a href="#"><img src="../static/images/18.jpg"/></a>
                                <a href="#"><img src="../static/images/19.jpg"/></a>
                                <a href="#"><img src="../static/images/14.jpg"/></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!---- Start Widget ---->
                <div class="widget wid-new-post">
                    <div class="heading"><h4>近期要闻</h4></div>
                    <div class="content">
                        <h6>美军即将撤离！阿富汗的未来前景如何呢？专家认为有三种可能</h6>
                        <img src="../static/images/23.jpg"/>
                        <ul class="list-inline">
                            <li><i class="fa fa-calendar"></i>25/3/2024</li>
                            <li><i class="fa fa-comments"></i>1,200</li>
                        </ul>
                        <p>
                            7月2日，美军从协调了20年阿富汗战争的巴格拉姆空军基地撤离，这次撤离是拜登总统在9月11日之前从阿富汗撤军计划的一部分。9月11日是世贸中心和五角大楼遭受恐怖袭击20周年纪念日。</p>
                        <h6>阿富汗：如果没有战争......</h6>
                        <img src="../static/images/22.jpg"/>
                        <ul class="list-inline">
                            <li><i class="fa fa-calendar"></i>25/3/2024</li>
                            <li><i class="fa fa-comments"></i>1,200</li>
                        </ul>
                        <p>Moe
                            Zoyari，一位从14岁就开始了拍摄生涯的摄影师。他的作品曾涉及伊朗的地震、核计划，以及政治动乱。身为伊朗裔的美国摄影师，他对中东、欧洲和美国题材都非常熟悉。现年30岁的他，曾有幸和美国士兵一起深入到阿富汗内部。44天的阿富汗之行，让他看到了这个国家鲜为人知的一面。</p>
                        <h6>200年阿富汗更换了多少面国旗 乱世和沧桑巨变</h6>
                        <img src="../static/images/24.jpg"/>
                        <ul class="list-inline">
                            <li><i class="fa fa-calendar"></i>25/3/2024</li>
                            <li><i class="fa fa-comments"></i>1,200</li>
                        </ul>
                        <p>
                            自从1709年霍塔克王朝打出第一面旗帜以来，阿富汗已经有26面国旗。仅在20世纪，阿富汗就有18面国旗，比同一时期的其他国家都多。</p>
                    </div>
                </div>
                <!---- Start Widget ---->
                <div class="widget wid-recent-post">
                    <div class="heading"><h4>新闻跟帖</h4></div>
                    <div class="content">
                        <span>阿富汗灭国了吗，阿富汗到底发生了什么，能详细说 ...</span>
                        <span>“中国+中亚五国”外长关于阿富汗问题的联合声明（全文 ...</span>
                        <span>国际观察： “邻国声音”助力阿富汗由乱及治 - 人民网</span>
                        <span>中国常驻联合国副代表在安理会阐述中方关于阿富汗局势的 ...</span>


                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <!---- Start Widget ---->
                <div class="widget wid-tags">
                    <div class="heading"><h4>搜索</h4></div>
                    <div class="content">
                        <form role="form" class="form-horizontal" method="post" action="">
                            <input type="text" placeholder="请输入搜索内容" value="" name="v_search" id="v_search"
                                   class="form-control">
                        </form>
                    </div>
                </div>
                <!---- Start Widget ---->
                <div class="widget wid-tags">
                    <div class="heading"><h4>搜索推荐</h4></div>
                    <div class="content">
                        <a href="#">情况</a>
                        <a href="#">战争</a>
                        <a href="#">经济</a>
                        <a href="#">局势</a>
                        <a href="#">物料</a>
                        <a href="#">食品</a>
                        <a href="#">国情</a>
                        <a href="#">内容</a>
                        <a href="#">合作</a>
                        <a href="#">联系</a>
                        <a href="#">关系</a> <br>
                        <a href="#">各国关联</a>
                        <a href="#">伙伴</a>
                        <a href="#">同盟</a> <br>
                        <a href="#">视频新闻</a>
                    </div>
                </div>
                <!---- Start Widget ---->
                <div class="widget wid-comment">
                    <div class="heading"><h4>记者简报</h4></div>
                    <div class="content">
                        <div class="post">
                            <a href="map.html">
                                <img src="../static/images/ava-1.jpg" class="img-circle"/>
                            </a>
                            <div class="wrapper">
                                <a href="#"><h5>阿富汗局势紧张。</h5></a>
                                <ul class="list-inline">
                                    <li><i class="fa fa-calendar"></i>25/3/2024</li>
                                    <li><i class="fa fa-thumbs-up"></i>1,200</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post">
                            <a href="map.html">
                                <img src="../static/images/ava-2.png" class="img-circle"/>
                            </a>
                            <div class="wrapper">
                                <a href="#"><h5>战争掌控情况不乐观</h5></a>
                                <ul class="list-inline">
                                    <li><i class="fa fa-calendar"></i>25/3/2024</li>
                                    <li><i class="fa fa-thumbs-up"></i>1,200</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post">
                            <a href="map.html">
                                <img src="../static/images/ava-3.jpeg" class="img-circle"/>
                            </a>
                            <div class="wrapper">
                                <a href="#"><h5>妻离子散平民</h5></a>
                                <ul class="list-inline">
                                    <li><i class="fa fa-calendar"></i>25/3/2024</li>
                                    <li><i class="fa fa-thumbs-up"></i>1,200</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post">
                            <a href="map.html">
                                <img src="../static/images/ava-4.jpg" class="img-circle"/>
                            </a>
                            <div class="wrapper">
                                <a href="#"><h5>祈祷战火早日停止</h5></a>
                                <ul class="list-inline">
                                    <li><i class="fa fa-calendar"></i>25/3/2024</li>
                                    <li><i class="fa fa-thumbs-up"></i>1,200</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!---- Start Widget ---->
                <div class="widget wid-banner">
                    <div class="content">
                        <img src="../static/images/banner-2.jpg" class="img-responsive"/>
                    </div>
                </div>
                <!---- Start Widget ---->
                <div class="widget wid-categoty">
                    <div class="heading"><h4>类别</h4></div>
                    <div class="content">
                        <select class="col-md-12">
                            <option>新闻</option>
                            <option>民生</option>
                            <option>国家</option>
                        </select>
                    </div>
                </div>
                <!---- Start Widget ---->
                <div class="widget wid-calendar">
                    <div class="heading"><h4>日历</h4></div>
                    <div class="content">
                        <center>
                            <form action="" role="form">
                                <div class="">
                                    <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy"
                                         data-link-field="dtp_input2" data-link-format="yyyy-mm-dd"></div>
                                    <input type="hidden" id="dtp_input2" value=""/><br/>
                                </div>
                            </form>
                        </center>
                    </div>
                </div>
                <!---- Start Widget ---->
                <div class="widget wid-tweet">
                    <div class="heading"><h4>赞助商——Tweet</h4></div>
                    <div class="content">
                        <div class="tweet-item">
                            <p><i class="fa fa-twitter"></i> TLAS - Coming Soon PSD Mockup</p>
                            <a>https://t.co/dLsNZYGVbJ</a>
                            <a>#psd</a>
                            <a>#freebie</a>
                            <a>#freebie</a>
                            <a>#dribbble</a>
                            <span>July 15th, 2024</span>
                        </div>
                        <div class="tweet-item">
                            <p><i class="fa fa-twitter"></i> Little Dude Character With Multiple Hairs</p>
                            <a>https://t.co/dLsNZYGVbJ</a>
                            <a>#freebie</a>
                            <a>#design</a>
                            <a>#illustrator</a>
                            <a>#dribbble</a>
                            <span>June 23rd, 2024</span>
                        </div>
                        <div class="tweet-item">
                            <p><i class="fa fa-twitter"></i> Newsletter Subscription Form Mockup</p>
                            <a>https://t.co/dLsNZYGVbJ</a>
                            <a>#psd</a>
                            <a>#freebie</a>
                            <a>#freebie</a>
                            <a>#dribbble</a>
                            <span>June 22nd, 2024</span>
                        </div>
                        <p>Marshall, Will, and Holly on a routine expedition, met the greatest earthquake ever known.
                            High on the rapids, it struck their tiny raft...</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

<footer>
    <div class="wrap-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-footer footer-1">
                    <div class="footer-heading"><h1><span style="color: #fff;">阿富汗国情小站</span></h1></div>
                    <div class="content">
                        <p>新闻第一时间为您呈现.</p>
                        <strong>邮箱:</strong>
                        <form action="#" method="post">
                            <label>
                                <input type="text" name="your-name" value="" size="40" placeholder="你的邮箱"/>
                            </label>
                            <input type="submit" value="提交" class="btn btn-3"/>
                        </form>
                    </div>
                </div>
                {#                <div class="col-md-4 col-footer footer-2">#}
                {#                    <div class="footer-heading"><h4>新闻标签</h4></div>#}
                {#                    <div class="content">#}
                {#                        <a href="#">情况</a>#}
                {#                        <a href="#">战争</a>#}
                {#                        <a href="#">经济</a>#}
                {#                        <a href="#">局势</a>#}
                {#                        <a href="#">物料</a>#}
                {#                        <a href="#">食品</a> <br>#}
                {#                        <a href="#">国情</a>#}
                {#                        <a href="#">内容</a>#}
                {#                        <a href="#">合作</a>#}
                {#                        <a href="#">联系</a>#}
                {#                        <a href="#">关系</a>#}
                {#                        <a href="#">各国关联</a>#}
                {#                        <a href="#">伙伴</a>#}
                {#                        <a href="#">同盟</a>#}
                {#                        <a href="#">视频新闻</a>#}
                {##}
                {#                    </div>#}
                {#                </div>#}
                <div class="col-md-4 col-footer footer-3">
                    <div class="footer-heading"><h4>友情链接</h4></div>
                    <div class="content">
                        <ul>
                            <li><a href="#">国家建设</a></li>
                            <li><a href="#">最新掌控</a></li>
                            <li><a href="#">情报局</a></li>
                            <li><a href="#">联系我们</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right">
        <p>Copyright &copy; 2024</p>
    </div>
</footer>
<!-- Footer -->

<!-- JS -->
<script src="../static/owl-carousel/owl.carousel.js"></script>
<script>
    $(document).ready(function () {
        $("#owl-demo-1").owlCarousel({
            autoPlay: 3000,
            items: 1,
            itemsDesktop: [1199, 1],
            itemsDesktopSmall: [400, 1]
        });
        $("#owl-demo-2").owlCarousel({
            autoPlay: 3000,
            items: 3,

        });
    });
</script>


<script type="text/javascript" src="../static/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="../static/js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });
    $('.form_date').datetimepicker({
        language: 'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
    $('.form_time').datetimepicker({
        language: 'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 1,
        minView: 0,
        maxView: 1,
        forceParse: 0
    });
</script>
</body>
</html>
