<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="">
    <meta name="author" content="">
	
    <title>阿富汗是世界最不发达国家之一。历经战乱，经济破坏殆尽，严重依赖外援。</title>
	
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"  type="text/css">
	
	<!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
	
	<!-- Owl Carousel Assets -->
    <link href="../static/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="../static/owl-carousel/owl.theme.css" rel="stylesheet">
	
	<!-- Custom Fonts -->
    <link rel="stylesheet" href="../static/font-awesome-4.4.0/css/font-awesome.min.css"  type="text/css">
	
	<!-- jQuery and Modernizr-->
	<script src="../static/js/jquery-2.1.1.js"></script>
	
	<!-- Core JavaScript Files -->  	 
    <script src="../static/js/bootstrap.min.js"></script>
	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="../static/js/html5shiv.js"></script>
        <script src="../static/js/respond.min.js"></script>
    <![endif]-->
</head>

<body style="background-image: url('images/123.jpg');">
<header>
	<!--Top-->
	<nav id="top">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<strong>欢迎光临!阿富汗国情小站</strong>
				</div>
				<div class="col-md-6">
					<ul class="list-inline top-link link">
						<li><a href="./Afghanistan"><i class="fa fa-home"></i> 首页</a></li>
                        <li><a href="./Afghanistan/history"><i class="fa fa-history"></i> 历史</a></li>
                        <li><a href="./Afghanistan/culture"><i class="fa fa-globe"></i> 文化</a></li>
                        <li><a href="./Afghanistan/diplomacy"><i class="fa fa-users"></i> 外交</a></li>
                        <li><a href="./Afghanistan/contact"><i class="fa fa-comments"></i> 联系我们</a></li>
						
					</ul>
				</div>
			</div>
		</div>
	</nav>
	
	<!--Navigation-->
    <nav id="menu" class="navbar container">
		<div class="navbar-header">
			<button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
			<a class="navbar-brand" href="#">
				<div class="logo"><span>阿富汗国情小站</span></div>
			</a>
		</div>
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li><a href="afghanistan_overview.html"><i class="fa fa-home"></i>首页</a></li>
				<!-- <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">新闻 <i class="fa fa-arrow-circle-o-down"></i></a>
					<div class="dropdown-menu">
						<div class="dropdown-inner">
							<ul class="list-unstyled">
								<li><a href="archive.html">新闻</a></li>
								
							</ul>
						</div>
					</div>
				</li>
				 -->
				<li><a href="history.html"><i class="fa fa-history"></i> 历史</a></li>
				<li><a href="culture.html"><i class="fa fa-globe"></i> 文化</a></li>
				<li><a href="diplomacy.html"><i class="fa fa-users"></i> 外交</a></li>
				
				
				<li><a href="contact.html"><i class="fa fa-envelope"></i> 联系我们</a></li>
			</ul>
			
		</div>
	</nav>
</header>
	<div class="featured container">
		<div id="owl-demo" class="owl-carousel">
			<div class="item">
				<div class="zoom-container">
					<div class="zoom-caption">
						<span>Youtube</span>
						<a href="map.html">
							<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
						</a>
						<p>阿富汗</p>
					</div>
					<img src="../static/images/1.jpg" />
				</div>
			</div>
			<div class="item">
				<div class="zoom-container">
					<div class="zoom-caption">
						<span>Youtube</span>
						<a href="map.html">
							<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
						</a>
						<p>阿富汗</p>
					</div>
					<img src="../static/images/2.jpg" />
				</div>
			</div>
			<div class="item">
				<div class="zoom-container">
					<div class="zoom-caption">
						<span>Youtube</span>
						<a href="map.html">
							<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
						</a>
						<p>阿富汗</p>
					</div>
					<img src="../static/images/3.jpg" />
				</div>
			</div>
			<div class="item">
				<div class="zoom-container">
					<div class="zoom-caption">
						<span>Youtube</span>
						<a href="map.html">
							<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
						</a>
						<p>阿富汗</p>
					</div>
					<img src="../static/images/8.jpg" />
				</div>
			</div>
			<div class="item">
				<div class="zoom-container">
					<div class="zoom-caption">
						<span>Youtube</span>
						<a href="map.html">
							<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
						</a>
						<p>阿富汗</p>
					</div>
					<img src="../static/images/9.jpg" />
				</div>
			</div>
			<div class="item">
				<div class="zoom-container">
					<div class="zoom-caption">
						<span>Youtube</span>
						<a href="map.html">
							<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
						</a>
						<p>阿富汗</p>
					</div>
					<img src="../static/images/10.jpg" />
				</div>
			</div>
			<div class="item">
				<div class="zoom-container">
					<div class="zoom-caption">
						<span>Youtube</span>
						<a href="map.html">
							<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
						</a>
						<p>阿富汗</p>
					</div>
					<img src="../static/images/11.jpg" />
				</div>
			</div>
			<div class="item">
				<div class="zoom-container">
					<div class="zoom-caption">
						<span>Youtube</span>
						<a href="map.html">
							<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
						</a>
						<p>阿富汗</p>
					</div>
					<img src="../static/images/12.jpg" />
				</div>
			</div>
		</div>
	</div>
	<!-- Header -->
	
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content" class="single-page container">
		<div class="row">
			<div id="main-content" class="col-md-8">
				<div class="box">
					<div class="wrap-vid">
						
						<img src="../static/images/1a.jpg"  width="100%" style="height: 400px;" alt="" />
					</div>
					<div class="share">
						<ul class="list-inline center">
							<br />
							<li><a href="#" class="btn btn-facebook"><i class="fa fa-facebook"></i> Share</a></li>
							<li><a href="#" class="btn btn-twitter"><i class="fa fa-twitter"></i> Tweet</a></li>
							<li><a href="#" class="btn btn-pinterest"><i class="fa fa-pinterest"></i> Tweet</a></li>
							<li><a href="#" class="btn btn-google"><i class="fa fa-google-plus-square"></i> Google+</a></li>
							<li><a href="#" class="btn btn-mail"><i class="fa fa-envelope-o"></i> E-mail</a></li>
						</ul>
					</div>
					<div class="line"></div>
					<h1 class="vid-name"><a href="#">阿富汗前总统痛批美国：如果没有美国，阿富汗会过得更好</a></h1>
					<div class="info">
						<h5>By <a href="#">Kelvin</a></h5>
						<span><i class="fa fa-calendar"></i>25/3/2015</span> 
						<span><i class="fa fa-heart"></i>1,200</span>
					</div>
					<p style="margin-top: 20px">提及阿富汗，似乎战争，动乱，汽车炸弹，恐怖袭击，塔利班等一系列词汇就已经涌入脑海。

但曾经的阿富汗也有过“黄金时代”，随着先后两次阿富汗战争的爆发，曾经的辉煌已经一去不返，现如今留给阿富汗的只有无尽的战争，苦难以及悲伤。</p>
					<h4>阿富汗前总统卡尔扎伊称：“如果没有美国，阿富汗会过得更好”，“美国在阿富汗战争当中彻底陷入失败”。

</h4>
					<p style="margin-top: 20px">

01 黄金时代

现如今混乱，动荡的阿富汗，在上世纪六十年代也曾是中亚地区的一颗明珠。封建王朝时期的阿富汗，作为陆上丝绸之路的重要纽带，在古代的经贸往来当中有着极其重要的作用。

<br />
<img src="../static/images/123.jpg" width="100%" alt="" />
<br />



但是随着近现代的到来，作为封建王朝的阿富汗也遭到了侵略。在沙俄以及英国的作用下，这个封建王朝陷入了殖民地时代。

幸好在阿富汗人民的努力之下，很快这一地区就取得了独立。但是国内问题日渐凸显，刚刚继位没几年的老国王就在一次暗杀当中不幸遇难，此时，阿富汗黄金时代中最重要的人物，年仅19岁的皇储查希尔登上了历史舞台。

查希尔年轻的时候，所接受的是西方的教育模式，因此他对于西方制度颇为向往。

这位皇储曾经与自己的父亲前往西方游学，先进的现代化国家对于这位少年造成了极大的冲击，他决心效仿西方国家，在阿富汗推广现代化，建设一个富强的阿富汗。




事实上来看，上世纪五十年代到七十年代，对于阿富汗而言是为数不多的和平时期。

在查希尔继位之前，阿富汗就是一个彻头彻尾的封建农业国家。虽然之前依靠着丝绸之路的兴盛攒下来了不少的家底，但是苦于没有赶上西方工业革命的步伐，国内的工业化水平基本为零，这也就成为了查希尔国王想要实现现代化的第一个难题。

除此之外，作为有着悠久历史的伊斯兰国家。在宗教问题上，阿富汗国内的保守派也有着较大的影响力，主张建立较为传统的伊斯兰国家。

与此同时，国内地方割据武装遍地，军阀势力听调不听宣。这一系列问题，构成了查希尔强国梦的第二个阻碍。




面对国内落后的工业生产水平，查希尔花费重金从西方聘请了大量的技术人员来到阿富汗进行教学，很快就在国内设立了一批工厂，工业化进程开始萌芽。

与此同时，在交通方面也取得了卓有成效的进展。在查希尔担任国王期间，阿富汗国内设立了总计八家机场，同时开辟了通航的航线。




除此之外，基础建设的提升还体现在了公路上。这些交通设施的建设，极大程度地方便了阿富汗各个地区人民的交流。

面对传统的保守派势力，查希尔则是选择较为怀柔的手段来进行应对。一方面，他通过外交手段，维持了阿富汗国内局势的基本稳定。

保证各个地区的酋长势力，都愿意遵循中央政府的指挥。在这一基础上，查希尔在国内开始推进世俗化进程，逐步松开宗教强加在阿富汗女性身上的一些枷锁。

与此同时积极建设国家教育机构，设立了阿富汗第一所现代化的大学坎大哈大学。




这一时期当中，皇室主张对宗教势力进行打击，推进整个国家的世俗化进程。而在外交方面，阿富汗则是在美苏当中左右逢源，一边借助苏联的贷款发展工业，一边让美国援助建设坎大哈国际机场。

阿富汗的经济水平迅速增长，同时文化产业快速兴起。可以说一切都走在了一条光明的道路上。此时的阿富汗，有着“东方瑞士”的称谓，也就难怪这一时期可以被称之为阿富汗的“黄金时代”。</p>
					
					<div class="line"></div>
					<div class="comment">
						<h3>发表评论</h3>
						<form name="form1" method="post" action="">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
									<input type="text" class="form-control input-lg" name="name" id="name" placeholder="标题" required="required" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="email" class="form-control input-lg" name="email" id="email" placeholder="邮箱" required="required" />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<textarea name="message" id="message" class="form-control" rows="4" cols="25" required="required"
										placeholder="内容"></textarea>
									</div>						
									<button type="submit" class="btn btn-4 btn-block" name="btnBooking" id="btnBbooking">
								发布</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				
				<div class="box">
					
					
				</div>
			</div>
			<div id="sidebar" class="col-md-4">
				<!---- Start Widget ---->
				<div class="widget wid-follow">
					<div class="heading"><h4>新闻头条</h4></div>
					<div class="content">
						<!-- <ul class="list-inline">
							<li>
								<a href="facebook.com/">
									<div class="box-facebook">
										<span class="fa fa-facebook fa-2x icon"></span>
										<span>1250</span>
										<span>Fans</span>
									</div>
								</a>
							</li>
							<li>
								<a href="facebook.com/">
									<div class="box-twitter">
										<span class="fa fa-twitter fa-2x icon"></span>
										<span>1250</span>
										<span>Fans</span>
									</div>
								</a>
							</li>
							<li>
								<a href="facebook.com/">
									<div class="box-google">
										<span class="fa fa-google-plus fa-2x icon"></span>
										<span>1250</span>
										<span>Fans</span>
									</div>
								</a>
							</li>
						</ul> -->
						<img src="../static/images/banner.jpg" />
					</div>
				</div>
				<!---- Start Widget ---->
				<div class="widget wid-post">
					<div class="heading"><h4>新闻</h4></div>
					<div class="content">
						<div class="post wrap-vid">
							<div class="zoom-container">
								<div class="zoom-caption">
									<span>阿富汗</span>
									<a href="map.html">
										<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
									</a>
									<p>阿富汗</p>
								</div>
								<img src="../static/images/1.jpg" />
							</div>
							<div class="wrapper">
								<h5 class="vid-name"><a href="#">阿富汗</a></h5>
								<div class="info">
									<h6>By <a href="#">Kelvin</a></h6>
									<span><i class="fa fa-calendar"></i>25/3/2015</span> 
									<span><i class="fa fa-heart"></i>1,200</span>
								</div>
							</div>
						</div>
						<div class="post wrap-vid">
							<div class="zoom-container">
										<div class="zoom-caption">
											<span>Youtube</span>
											<a href="map.html">
												<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
											</a>
											<p>阿富汗</p>
										</div>
										<img src="../static/images/2.jpg" />
									</div>
							<div class="wrapper">
								<h5 class="vid-name"><a href="#">阿富汗</a></h5>
								<div class="info">
									<h6>By <a href="#">Kelvin</a></h6>
									<span><i class="fa fa-calendar"></i>25/3/2015</span> 
									<span><i class="fa fa-heart"></i>1,200</span>
								</div>
							</div>
						</div>
						<div class="post wrap-vid">
							<div class="zoom-container">
								<div class="zoom-caption">
									<span>Youtube</span>
									<a href="map.html">
										<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
									</a>
									<p>阿富汗</p>
								</div>
								<img src="../static/images/3.jpg" />
							</div>
							<div class="wrapper">
								<h5 class="vid-name"><a href="#">阿富汗</a></h5>
								<div class="info">
									<h6>By <a href="#">Kelvin</a></h6>
									<span><i class="fa fa-calendar"></i>25/3/2015</span> 
									<span><i class="fa fa-heart"></i>1,200</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!---- Start Widget ---->
				<div class="widget ">
					<div class="heading"><h4>推荐视频</h4></div>
					<div class="content">
						<div class="wrap-vid">
							<div class="zoom-container">
								<div class="zoom-caption">
									<span>Youtube</span>
									<a href="map.html">
										<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
									</a>
									<p>阿富汗</p>
								</div>
								<img src="../static/images/1.jpg" />
							</div>
							<h3 class="vid-name"><a href="#">阿富汗</a></h3>
							<div class="info">
								<h5>By <a href="#">Kelvin</a></h5>
								<span><i class="fa fa-calendar"></i>25/3/2015</span> 
								<span><i class="fa fa-heart"></i>1,200</span>
							</div>
						</div>
						<div class="wrap-vid">
							<div class="zoom-container">
								<div class="zoom-caption">
									<span>Youtube</span>
									<a href="map.html">
										<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
									</a>
									<p>阿富汗</p>
								</div>
								<img src="../static/images/2.jpg" />
							</div>
							<h3 class="vid-name"><a href="#">阿富汗</a></h3>
							<div class="info">
								<h5>By <a href="#">Kelvin</a></h5>
								<span><i class="fa fa-calendar"></i>25/3/2015</span> 
								<span><i class="fa fa-heart"></i>1,200</span>
							</div>
						</div>
						<div class="wrap-vid">
							<div class="zoom-container">
								<div class="zoom-caption">
									<span>Youtube</span>
									<a href="map.html">
										<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
									</a>
									<p>阿富汗</p>
								</div>
								<img src="../static/images/3.jpg" />
							</div>
							<h3 class="vid-name"><a href="#">阿富汗</a></h3>
							<div class="info">
								<h5>By <a href="#">Kelvin</a></h5>
								<span><i class="fa fa-calendar"></i>25/3/2015</span> 
								<span><i class="fa fa-heart"></i>1,200</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<footer>
		<div class="wrap-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-footer footer-1">
						<div class="footer-heading"><h1><span style="color: #fff;">阿富汗国情小站</span></h1></div>
						<div class="content">
							<p>新闻第一时间为您呈现.</p>
							<strong>邮箱:</strong>
							<form action="#" method="post">
								<input type="text" name="your-name" value="" size="40" placeholder="你的邮箱" />
								<input type="submit" value="提交" class="btn btn-3" />
							</form>
						</div>
					</div>
					<div class="col-md-4 col-footer footer-2">
						
					</div>
					<div class="col-md-4 col-footer footer-3">
						<div class="footer-heading"><h4>友情链接</h4></div>
						<div class="content">
							<ul>
								<li><a href="#">国家建设</a></li>
								<li><a href="#">最新掌控</a></li>
								<li><a href="#">情报局</a></li>
								<li><a href="#">联系我们</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="copy-right">
			<p>Copyright &copy; 2024</p>
		</div>
	</footer>

    });
    </script>
	
</body>
</html>
