<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="这是阿富汗国情小站的文化界面">
    <meta name="author" content="非凡大师小组">
    <title>阿富汗国情小站</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/rolling.css">
    <!-- Owl Carousel Assets -->
    <link href="/static/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="/static/owl-carousel/owl.theme.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    <link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="/static/font-awesome-4.4.0/css/font-awesome.min.css" type="text/css">

    <!-- jQuery and Modernizr-->
    <script src="/static/js/jquery-2.1.1.js"></script>

    <!-- Core JavaScript Files -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->
</head>

<!-- <body style="background-image: url('/static/images/11.jpg');"> -->
<body style="background-image: url('/static/images/12.jpg');">
<header>
    <!--Top-->
    <nav id="top">
        <div class="text">
            <div style="text-align: center;"><strong>欢迎您来到阿富汗国情小站！在这里，我们将携手探索阿富汗的多元文化、悠久历史和自然风光！
                我们的宗旨为打破界限、架起桥梁，通过丰富多彩的内容，将阿富汗的政治经济文化外交等内容呈现在您的眼前。
                我们的目标是促进文化交流，增进人与人之间的理解与友谊</strong></div>
        </div>
    </nav>
    <!--Navigation-->
    <nav id="menu" class="navbar container">
        <div class="navbar-header">
            <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
            <a class="navbar-brand">
                <div class="logo"><span>阿富汗国情小站</span></div>
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/Afghanistan/"><i class="fa fa-home"></i> 首页</a></li>
                <li><a href="/Afghanistan/history/"><i class="fa fa-history"></i> 历史</a></li>
                <li><a href="/Afghanistan/culture/"><i class="fa fa-globe"></i> 文化</a></li>
                <li><a href="/Afghanistan/diplomacy/"><i class="fa fa-users"></i> 外交</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">更多<i
                        class="fa fa-arrow-circle-o-down"></i></a>
                    <div class="dropdown-menu">
                        <div class="dropdown-inner">
                            <ul class="list-unstyled">
                                <li><a href="/Afghanistan/message/">人口信息</a></li>
                                <li><a href="/Afghanistan/map/">地图</a></li>
                                <li><a href="/Afghanistan/review/">百科</a></li>

                            </ul>
                        </div>
                    </div>
                </li>
                <li><a href="/Afghanistan/contact/"><i class="fa fa-comments"></i> 联系我们</a></li>
            </ul>

        </div>
    </nav>
</header>
<!-- Header -->

<!-- /////////////////////////////////////////Content -->
<div id="page-content" class="single-page container">
    <div class="wrap-footer">
        <div id="main-content" class="col-md-8">
            <div class="box">
                <div class="wrap-vid">
                    <img src="/static/images/24.jpg" width="100%" style="height: 400px;" alt=""/>
                </div>
                <div class="line"></div>
                <h1 class="vid-name"><a href="#">深度解析阿富汗的历史文化背景和阿富汗战争始末以及极端宗教组织的影响</a>
                </h1>
                <p style="margin-top: 20px">
                    阿富汗有一个组织叫做塔利班，塔利班的名字翻译出来就是“伊斯兰教的学生”，塔利班当时的领袖是奥马尔，奥马尔在阿富汗组织学生一起反抗苏联的入侵，当时被称为“圣战者”，
                    塔利班武装势力当时已经占领了首都喀布尔，奥马尔成为了当时名副其实的最高统治者。2001年9月11日，由本拉登领导的极端控制者，控制美国的飞机，将飞机撞向美国五角大厦和世贸大厦，这次事件被全球认定为极端恐怖事件。
                    因为奥马尔和本拉登的关系很好，美国希望塔利班交出本拉登，但是奥马尔不同意，美国由此入侵阿富汗。2001年-2021年，美国和阿富汗持续了长达二十年的战争，当年苏联入侵阿富汗的那场战争也只有十年。在这二十年的过程中，
                    美国将塔利班政权推翻，扶持一位傀儡总统——加尼。塔利班节节败退，后来又乘胜追击，不断地爆发阿富汗境内大小规模的战争和暴乱，最后的结果就是，2021年拜登总统发布指令，美军全面撤退阿富汗，阿富汗总统加尼宣布辞职，然后直接跑路了。
                    塔利班组织，重新夺取阿富汗政权，成为阿富汗的最高控制者，至此，我终于看到了阿富汗战争结束的这一天。</p>
                <h4>“浴火重光”的阿富汗文物：历史文化不死，国家才算不死
                </h4>
                <img src="https://imagepphcloud.thepaper.cn/pph/image/150/596/553.jpg" width="100%" alt=""/>
                <p style="margin-top: 20px">
                <p>巴米扬山谷 (Bamiyan Valley)
                    <br>这是阿富汗境内另一处世界遗产，坐落于兴都库什山脉中，连接了阿富汗的南北。在 2001 年 3
                    月之前，巴米扬山谷中一直都静默地矗立着两尊佛像，它们是在悬崖壁上生凿出来的。两尊佛像，一大一小，稍小一些的这尊高约
                    38 米，在公元 550 年前后雕刻完成；
                    往东，稍大一些的这尊高约 55 米，完成时间约为公元 615
                    年左右。完成时，这两尊佛像的表面都使用的是黏土，但在佛教鼎盛时期，信徒们使用大量的宝石和青铜料，让佛像看上去像是由青铜或黄金制成的。
                </p>
                <br/>
                <h4>阿富汗的风俗习惯与风土人情，入乡随俗</h4>
                <img src="https://cdn.pixabay.com/photo/2012/11/28/11/06/girl-67694_1280.jpg" width="100%" alt=""/>

                <br/>
                阿富汗人在生活风俗和饮食习惯等方面，受伊斯兰教的影响很大。他们对伊斯兰教十分虔诚，严格遵守5条教规（又称作“五功”）。每天要在晨、晌、脯、昏、宵五个时辰面向麦加方位礼拜，
                每周的星期五，他们通常还要举行一次主麻拜。“主麻”在阿拉伯语中意为“聚会”，因此，星期五又称为聚礼日。
                阿富汗人常以各种装束来表明各自的身份。乡间妇女外出时，往往戴着面纱。城市的上层妇女，戴面纱者已越来越少了。从事普通工作的一般男人，往往是头缠粗布的大头巾、留浓重的大胡子，而知识分子，绅士或富商巨贾的装束打扮，穿着轻皮鞋，经常穿着西装。随着时代的发展，不同等级身份的人的装束区别，将日趋消失。
                阿富汗人很喜爱喝茶，日常生活中，尤其是在炎夏，几乎天天离不开茶。即使是贫困的人，每日也不能不喝茶。阿富汗人很好客，他们对待来访的客人诚恳、热情，不管客人是否为伊斯兰教徒，都一视同仁。他们通常用羊肉款待客人，有的甚至还用全羊来款待贵宾，以表示对来宾的格外尊敬。他们也十分注重礼节和礼貌，在路上遇见亲友或者与来访的客人见面时，都要用右手按住胸口，频频点头，并说：“安技嘎利贡”（意为“愿真主保佑您”），以示尊敬对方。他们一般不施握手礼。
                在日常食物中，普通的阿富汗人以烤饼和一般蔬菜为主，而上等人则以大米和牛羊肉为主。阿富汗人主食多以面食玉米面饼为主。他们的口味一般比较重，不怕油腻。他们大都比较喜爱吃以焖、煮、烤、炸烹制的菜肴，肉食品以牛、羊肉为主，忌食猪肉，也不爱吃海味和鱼虾之类。
                <div class="line"></div>
                <h4>推荐阅读：《追风筝的人》| 为你，千千万万遍</h4>
                <img src="https://ts1.cn.mm.bing.net/th/id/R-C.1e4b3586a0b729a9c1f747afcb319a48?rik=%2b8TGaaeUAOwPZg&riu=http%3a%2f%2fi0.hdslb.com%2fbfs%2farchive%2fa39c2c28ff5afc2ed50c1adb7278f173093a880f.jpg&ehk=DsaVmBHwAh%2bgEFViKiw%2bC2USZCnzA3uO3TG1fcckPMs%3d&risl=&pid=ImgRaw&r=0"
                     width="100%" alt=""/>
                《追风筝的人》是美籍阿富汗裔作家卡勒德·胡赛尼（Khaled Hosseini）的第一部小说，也是第一部由阿富汗裔作家创作的英文小说。

                本书于2003年出版，连续两年位列《纽约时报》畅销书榜首，在美国销量超过700万册，全球销量超过2000万册，已经被翻译成42种语言。

                小说讲述了两个阿富汗少年关于友谊、亲情、背叛、救赎的故事，小说不仅表达了对战争的控诉、还对阿富汗种族问题和宗教问题有深刻的反映。这部小说在评论界获得了广泛好评，但同时也在阿富汗国内引起巨大的争议。
                希望我有一天可以看到一群阿富汗小孩手上提着风筝奔跑在道路上，呼吸着自由的空气，不用饱受战乱的痛苦，最后割掉风筝，让风筝可以自由的飞向远方。
            </div>
        </div>
        <div id="sidebar" class="col-md-4">
            <!---- Start Widget ---->
            <div class="widget wid-follow">
                <div class="heading"><h4>宗教</h4></div>
                <div class="content">
                    <img src="https://cdn.hisour.com/cdn-cgi/imagedelivery/PJiouRWxFR9baI5eaOAFCA/www.hisour.com/2018/07/Culture-of-Afghanistan.jpg/w=960"/>
                    阿富汗国内普遍信仰伊斯兰教，穆斯林约占99%，其中逊尼派占80%， 什叶派占19%。

                    所有伊斯兰教禁忌适用于阿富汗，如禁酒、禁食猪肉等。

                    在阿富汗工作和生活，应特别尊重当地宗教信仰，切忌有任何侮辱古兰经 及相关图案的言行。
                </div>
            </div>
            <!---- Start Widget ---->
            <div class="widget ">
                <div class="heading"><h4>推荐视频</h4></div>
                <div class="content">
                    <div class="wrap-vid">
                        <div class="zoom-container">
                            <div class="zoom-caption">
                                <span>bilibili</span>
                                <a href="https://www.bilibili.com/video/BV1Ss4y1U7Cq?t=8.4">
                                    <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                </a>

                            </div>
                            <img src="/static/images/1.jpg" alt=""/>
                        </div>
                        <span>阿富汗的历史和文化</span>
                    </div>
                    <div class="wrap-vid">
                        <div class="zoom-container">
                            <div class="zoom-caption">
                                <span>bilibili</span>
                                <a href="https://www.bilibili.com/video/BV1Dm4y1V7qH?t=3.0">
                                    <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                </a>
                            </div>
                            <img src="/static/images/11.jpg"/>
                        </div>
                    </div>
                    <div class="wrap-vid">
                        <div class="zoom-container">
                            <div class="zoom-caption">
                                <span>bilibili</span>
                                <a href="https://www.bilibili.com/video/BV1ex411B7MA?t=6.9">
                                    <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                </a>
                            </div>
                            <img src="/static/images/22.jpg"/>
                        </div>
                    </div>
                    <div class="heading"><h4>阿富汗珍宝何去何从</h4></div>
                    1964年至1978年，法国驻阿富汗考古代表团（DAFA）在阿富汗东北部的塔哈尔省的喷赤河东岸和科克恰河北岸的交汇处，发掘了阿伊哈努姆古城，这是当时的阿富汗国王穆罕默德•萨米尔汗（1914-2007）于1961年在此地狩猎时发现的。该遗址曾被认为是在亚历山大大帝的征服之后于公元前4世纪末建立的，但据新近的相关研究，当是塞琉古王朝的第二位君主安条克一世（公元前281年-前261年在位）于公元前280年开始大规模营建的，并在公元前2世纪希腊－巴克特里亚国王的统治下得到进一步发展，直至约公元前145年游牧人的入侵而导致该城的毁灭。
                    <img src="https://imagecloud.thepaper.cn/thepaper/image/148/962/569.jpg" width="100%" alt=""/>
                    时光回溯到2005年，时任阿富汗总统卡尔扎伊访问法国，法国总统希拉克提出希望阿富汗文物旅法展出的愿望。事实上，自1919年阿富汗独立建国以来，法国与阿富汗两国在考古和博物馆领域一直有着密切合作。法国考古队不仅作为发现者参与了这批阿富汗珍贵文物的发掘，而且巴黎的吉美博物馆（Guimet
                    Museum）也有缘珍藏大量阿富汗文物，有能力对这批文物进行研究、修复和展示。
                    <img src="https://imagecloud.thepaper.cn/thepaper/image/148/964/672.jpg" width="100%" alt=""/>
                    蒂拉丘地，字面意思是金色的丘地或土墩，直径约100米、标高约3米，原本是一座青铜时代的拜火教神坛，后被利用为墓地，遗址位于阿富汗北部朱兹詹省的席巴尔干市。1978年，由前苏联和阿富汗组成的联合考古队在此地发掘了6座竖穴土坑墓（1男5女），出土了约21,618件金、银、铜、象牙、宝石等各种材质制作精美的文物。这批数量惊人的宝藏，将多种文化传统和艺术风格融合在一起，表现出了独特的跨文化特征，是丝绸之路上迄今最伟大的考古发现之一。墓中出土的安息银币、罗马金币、希腊神灵、中国西汉铜镜与丝绸、叙利亚或埃及的玻璃器、印度象牙雕件以及草原风格黄金饰品等，也无疑证明了公元前后的阿富汗作为文明十字路口的国际性、创造性和多样性。
                    <img src="https://imagecloud.thepaper.cn/thepaper/image/148/962/582.jpg" width="100%" alt=""/>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="wrap-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-footer footer-1">
                    <div class="footer-heading"><h1><span style="color: #fff;">阿富汗国情小站</span></h1></div>
                    <div class="content">
                        <p>新闻第一时间为您呈现.</p>
                        <strong>邮箱:</strong>
                        <form action="#" method="post">
                            <input type="text" name="your-name" value="" size="40" placeholder="你的邮箱"/>
                            <input type="submit" value="提交" class="btn btn-3"/>
                        </form>
                    </div>
                </div>
                <div class="col-md-4 col-footer footer-2">

                </div>
                <div class="col-md-4 col-footer footer-3">
                    <div class="footer-heading"><h4>友情链接</h4></div>
                    <div class="content">
                        <ul>
                            <li><a href="#">国家建设</a></li>
                            <li><a href="#">最新掌控</a></li>
                            <li><a href="#">情报局</a></li>
                            <li><a href="#">联系我们</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right">
        <p>Copyright &copy; 2024</p>
    </div>
</footer>

});
</script>

</body>
</html>
