<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="这是阿富汗国情小站的外交界面">
    <meta name="author" content="非凡大师小组">
    <title>阿富汗国情小站</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/rolling.css">
    <!-- Owl Carousel Assets -->
    <link href="/static/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="/static/owl-carousel/owl.theme.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    <link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="/static/font-awesome-4.4.0/css/font-awesome.min.css" type="text/css">

    <!-- jQuery and Modernizr-->
    <script src="/static/js/jquery-2.1.1.js"></script>

    <!-- Core JavaScript Files -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->
</head>

<body style="background-image: url('/static/images/11.jpg');">
<!-- <body style="background-image: url('/static/images/1.jpg');"> -->
<header>
    <!--Top-->
    <nav id="top">
        <div class="text">
            <div style="text-align: center;"><strong>欢迎您来到阿富汗国情小站！在这里，我们将携手探索阿富汗的多元文化、悠久历史和自然风光！
                我们的宗旨为打破界限、架起桥梁，通过丰富多彩的内容，将阿富汗的政治经济文化外交等内容呈现在您的眼前。
                我们的目标是促进文化交流，增进人与人之间的理解与友谊</strong></div>
        </div>
    </nav>
    <!--Navigation-->
    <nav id="menu" class="navbar container">
        <div class="navbar-header">
            <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
            <a class="navbar-brand">
                <div class="logo"><span>阿富汗国情小站</span></div>
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/Afghanistan/"><i class="fa fa-home"></i> 首页</a></li>
                <li><a href="/Afghanistan/history/"><i class="fa fa-history"></i> 历史</a></li>
                <li><a href="/Afghanistan/culture/"><i class="fa fa-globe"></i> 文化</a></li>
                <li><a href="/Afghanistan/diplomacy/"><i class="fa fa-users"></i> 外交</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">更多<i
                        class="fa fa-arrow-circle-o-down"></i></a>
                    <div class="dropdown-menu">
                        <div class="dropdown-inner">
                            <ul class="list-unstyled">
                                <li><a href="/Afghanistan/message/">人口信息</a></li>
                                <li><a href="/Afghanistan/map/">地图</a></li>
                                <li><a href="/Afghanistan/review/">百科</a></li>

                            </ul>
                        </div>
                    </div>
                </li>
                <li><a href="/Afghanistan/contact/"><i class="fa fa-comments"></i> 联系我们</a></li>
            </ul>

        </div>
    </nav>
</header>
<!-- Header -->

<!-- /////////////////////////////////////////Content -->
<div id="page-content" class="single-page container">
    <div class="row">
        <div id="main-content" class="col-md-8">
            <div class="box">
                <figure class="wrap-vid">
                    <figcaption>
                        <h1 class="vid-name"><a href="#">孤立无援的外交角力：阿富汗与塔利班的「使馆争夺战」</a></h1>
                    </figcaption>
                </figure>
                <p style="margin-top: 20px">
                    「没有国家的大使馆何去何从...？」阿富汗驻印度大使馆上周宣布自10月开始全面停止运作，

                    由于不愿归顺塔利班，阿富汗全球65个驻外使馆两年来持续面临资金枯竭、家产冻结，但使馆人员依然竭力抵抗塔利班，

                    尽力游说外国关注阿富汗人权，这些年他们的日子过得如何？塔利班又是如何处理外交困境？
                </p>
                <figure id="attachment_215081" aria-describedby="caption-attachment-215081" style="width:100%"
                        class="wp-caption aligncenter"><img loading="lazy" class="size-arc-image-770 wp-image-215081"
                                                            src="https://nimg.ws.126.net/?url=http%3A%2F%2Fdingyue.ws.126.net%2F2023%2F1004%2F3a062656j00s20ft60045c000t400jem.jpg&thumbnail=660x2147483647&quality=80&type=jpg"
                                                            alt="" data-recalc-dims="1">
                    <figcaption id="caption-attachment-215081" class="wp-caption-text">
                        阿富汗驻印度大使馆不愿归顺塔利班，苦撑两年后关门
                    </figcaption>
                </figure>
                <p style="margin-top: 20px">
                <p>位于印度首都新德里的阿富汗驻印度大使馆9月30日发出声明，承认已没有能力执行应尽的责任。</p>
                <p>
                    声明称：「我们可运用的人力和资源都在显著减少，愈来愈难维持运作。」

                    但使馆表示正试图与印度政府达成协议，确保其余阿富汗国民在印度居住、工作、读书和经商的权益。

                    联合国官方的难民资料中，目前印度境内的难民约有4万人，其中约三分之一为阿富汗人。</p>

                <figure id="attachment_215083" aria-describedby="caption-attachment-215083" style="width:100%"
                        class="wp-caption aligncenter"><img loading="lazy" class="size-arc-image-770 wp-image-215083"
                                                            src="https://nimg.ws.126.net/?url=http%3A%2F%2Fdingyue.ws.126.net%2F2023%2F1004%2F9f9f241ej00s20ft5004lc000t500i7m.jpg&thumbnail=660x2147483647&quality=80&type=jpg"
                                                            alt="" data-recalc-dims="1">
                    <figcaption id="caption-attachment-215083" class="wp-caption-text">
                        阿富汗驻印度大使馆拒绝归顺塔利班，苦撑两年后终于关闭。
                    </figcaption>
                </figure>
                <p style="margin-top: 20px">
                <p>《印度快报》报导，新德里政府正在检视相关资讯，但印度外交部还未对此事做出回应。

                    印度政府同时指出，过去几个月阿富汗大使与部分外交人员已经离开印度，还有少数人取得第三国的政治庇护，并强调这些变动都是源自阿富汗分裂的内部局势。

                    但阿富汗使馆否认职员内部出现分歧，批评那些消息是「毫无根据的谣言」。
                </p>

                <p>根据联合国规章，当使馆关闭后，驻在国印度将全权接管所有财产与设备。</p>

                </p>
                <figure id="attachment_215073" aria-describedby="caption-attachment-215073" style="width:100%"
                        class="wp-caption aligncenter"><img loading="lazy" class="size-arc-image-770 wp-image-215073"
                                                            src="https://nimg.ws.126.net/?url=http%3A%2F%2Fdingyue.ws.126.net%2F2023%2F1004%2F7bffd3b8j00s20ft5002gc000t400jem.jpg&thumbnail=660x2147483647&quality=80&type=jpg"
                                                            alt="" data-recalc-dims="1">
                    <figcaption id="caption-attachment-215073" class="wp-caption-text">阿富汗驻卡塔尔政治办公室发言人沙辛。
                    </figcaption>
                </figure>
                <p></p>
                <p>
                    目前为止，塔利班宣称在14个国家设有外交代表机构，包含俄罗斯、中国、巴基斯坦和伊朗等。

                    《法新社》报导，塔利班设法「拿下」了少数阿富汗驻外使馆，在邻近国家如塔吉克和乌兹别克，塔利班直接派出新大使接管使馆；

                    在北京，时任大使也在塔利班代表逼宫后自请离职；俄罗斯则表示愿意接受塔利班派任的「两、三个新外交官」，但不乐见换掉现任大使。
                </p>
                <p>
                    另一位匿名的阿富汗大使告诉自由欧洲电台，控制了驻外机构，塔利班才能借此游说其他国家承认其地位，「塔利班希望这些国家的态度会随着时间而软化。」</p>
                <figure id="attachment_215069" aria-describedby="caption-attachment-215069" style="width:100%"
                        class="wp-caption aligncenter"><img loading="lazy" class="size-arc-image-770 wp-image-215069"
                                                            src="https://nimg.ws.126.net/?url=http%3A%2F%2Fdingyue.ws.126.net%2F2023%2F1004%2F93b22d47j00s20ft5002zc000t400jem.jpg&thumbnail=660x2147483647&quality=80&type=jpg"
                                                            alt="" data-recalc-dims="1">
                    <figcaption id="caption-attachment-215069" class="wp-caption-text">2022年印度捐赠物资给阿富汗，中间着西装者为时任驻印度大使
                    </figcaption>
                </figure>
                <p style="margin-top: 20px">
                <p>
                    有些使馆也尝试提高领事规费以增加收入，但他们发出的签证文件具有多少效力，国际社会仍然毫无头绪。目前由喀布尔发行的新护照印着塔利班取的新国名，塔利班也警告外国记者，未来阿富汗将不承认「叛逃」的大使馆所发的签证。</p>

                <p>
                    也有一些阿富汗大使馆为自身赋予更高的使命，他们努力游说驻在国政府，期望敦促塔利班改善国内女性权益与人权问题。驻纽约大使萨贾德称，全球所有阿富汗驻外机构已经相互串连，与其他流亡海外的阿富汗人共同努力。今年8月，一群美国跨党派国会议员呼吁国际足球总会（FIFA）承认流亡的阿富汗女足为正式队伍，但没有收到回音。</p>

                <p>
                    而即便屈服于塔利班之下，驻外人员的日子未必比较好过。《法新社》报导，自从新政权上台，阿富汗驻巴基斯坦总领事的薪资就从每月5,000美元被降到280美元，而且汇款时间也不稳定，只能依赖发行签证、结婚证书等领事规费过活。</p>
                </p>
                <figure id="attachment_215067" aria-describedby="caption-attachment-215067" style="width:100%"
                        class="wp-caption aligncenter"><img loading="lazy" class="size-arc-image-770 wp-image-215067"
                                                            src="https://nimg.ws.126.net/?url=http%3A%2F%2Fdingyue.ws.126.net%2F2023%2F1004%2F6455c5d4j00s20ft5002ec000t500jfm.jpg&thumbnail=660x2147483647&quality=80&type=jpg"
                                                            alt="" data-recalc-dims="1">
                    <figcaption id="caption-attachment-215067" class="wp-caption-text">塔利班支持者在美国驻阿富汗大使馆庆祝恢复政权2周年。
                    </figcaption>
                </figure>
                <p></p>
                <div>
                    <div class="line"></div>
                </div>
            </div>
            <hr/>
        </div>

        <div id="sidebar" class="col-md-4">
            <!---- Start Widget ---->
            <div class="widget wid-post">
                <div class="heading"><h4>新闻</h4></div>
                <div class="content">
                    <p style="font-weight: bold">难民激增、恐袭重现，被遗忘的阿富汗如何过冬？</p>
                    <a href="https://baijiahao.baidu.com/s?id=1784700440326746833&wfr=spider&for=pc">
                        <img src="https://pics1.baidu.com/feed/7c1ed21b0ef41bd5846fdecc23dcb6c639db3dd8.jpeg@f_auto?token=8eedfffd11ffe9f04d0262ef64afccdf">
                    </a>
                    当国际社会的目光向加沙地区聚焦，阿富汗正迎来战争结束两年来最艰难的冬天。

                    喀布尔街头，数万名儿童依靠捡垃圾和苦力劳动补贴家用，每天收入不到0.2美元。

                    阿富汗的经济和人道形势似乎在日趋恶化。

                    <hr>

                    <p style="font-weight: bold">英国国防部因电邮泄露待撤离阿富汗人信息被罚款</p>
                    <a href="http://news.fjsen.com/2023-12/13/content_31479432.htm">
                        <img src="https://img1.baidu.com/it/u=194793745,2909564054&fm=253&fmt=auto&app=138&f=JPEG?w=648&h=500"
                             alt="">
                    </a>
                    中新网12月13日电 据法新社报道,当地时间13日,英国数据监管机构宣布,因泄露265名寻求撤离阿富汗的阿富汗人的个人信息,英国国防部被罚款35万英镑(约316万元人民币)。

                    报道称,该错误导致数百人(包括可能有资格移居英国的阿富汗口译员)的电子邮件地址,被公开列在邮箱的“收件人”字段中。这些邮件地址本应该被密件抄送,以保护收件人的个人信息。

                    <hr>
                    <p style="font-weight: bold">驻伊朗大使常华会见伊总统阿富汗事务特别代表卡泽米</p>
                    <a href="https://www.mfa.gov.cn/web/zwbd_673032/wshd_673034/202312/t20231211_11199342.shtml">
                        <img src="https://www.mfa.gov.cn/web/zwbd_673032/wshd_673034/202312/W020231211509658834411.PNG"
                             alt="">
                    </a>
                    <p>2023年12月10日，驻伊朗大使常华会见伊朗总统阿富汗事务特别代表卡泽米。</p>
                    <p>
                        常大使表示，阿富汗处在和平重建的关键时期，地区国家特别是周边邻国为阿富汗局势平稳过渡发挥了建设性作用。中方愿同有关邻国一道，携手推动阿富汗问题妥善解决，致力于本地区普遍安全和共同发展。</p>
                    <p>
                        卡泽米赞赏中方在阿富汗问题上发挥的积极作用，表示伊方愿同中方加强沟通交流，推动落实历次阿富汗邻国外长会达成的共识。</p>
                </div>
            </div>
            <!---- Start Widget ---->
            <div class="widget ">
                <div class="heading"><h4>中方发言</h4></div>
                <div class="content">
                    <div class="wrap-vid">
                        <div class="zoom-container">
                            <div class="zoom-caption">
                                <a href="https://m.chinanews.com/wap/detail/chs/sp/10123014.shtml">
                                    <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                </a>
                                <p>相信随着各方关切得到更有力回应，对阿富汗政府的外交承认将是水到渠成</p>
                            </div>
                            <img src="https://poss-videocloud.cns.com.cn/oss/2023/12/05/chinanews/MEIZI_YUNSHI/onair/F68BB208AF414CC99624D41D6B74BB8A.jpg"/>
                        </div>
                        <p>
                            中国外交部发言人汪文斌12月5日主持例行记者会会上，有记者就阿富汗临时政府新任驻华大使是否就职、中方是否正式承认阿富汗临时政府一事提问。</p>

                        汪文斌表示，作为阿富汗传统友好邻邦，中方始终认为阿富汗不应被排除在国际社会之外，同时我们期待阿富汗方面进一步回应国际社会的期待，构建开放包容的政治架构，实行温和稳健的内外政策，坚决打击各类恐怖势力，同世界各国特别是周边国家友好相处，早日融入国际社会大家庭。相信随着各方关切得到更有力的回应，对阿富汗政府的外交承认将是一个水到渠成的事情。
                    </div>
                    <hr>
                    <div class="wrap-vid">
                        <div class="zoom-container">
                            <div class="zoom-caption">
                                <a href="https://mp.weixin.qq.com/s?__biz=MzU1OTM1MjIxNA==&mid=2247546381&idx=1&sn=4acfb5bc34b0c42d790cc67444756595">
                                    <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                </a>
                                <p>阿富汗不应被排除在国际社会之外</p>
                            </div>
                            <img src="https://pics1.baidu.com/feed/4ec2d5628535e5dd27502cbca3cf90e2ce1b6268.jpeg@f_auto?token=7bdb7b5dabf6ee67c61fc6a99851c192"/>
                        </div>
                        <p>
                            “外交部发言人办公室”消息，在12月5日外交部例行记者会上，德国电视一台记者提问：12月1日，比拉尔·卡里米正式履新阿富汗伊斯兰酋长国驻华大使，中方是否正式承认阿富汗伊斯兰酋长国？</p>
                        汪文斌：作为阿富汗传统友好邻邦，中方始终认为阿富汗不应被排除在国际社会之外。同时我们期待阿富汗方面进一步回应国际社会的期待，构建开放包容的政治架构，实行温和稳健的内外政策，坚决打击各类恐怖势力，同世界各国，特别是周边国家友好相处，早日融入国际社会大家庭。
                    </div>
                </div>
            </div>
            <div class="widget ">
                <div class="heading"><h4>推荐视频</h4></div>
                <div class="content">
                    <div class="wrap-vid">
                        <div class="zoom-container">
                            <div class="zoom-caption">
                                <span>CCTV</span>
                                <a href="https://tv.cctv.com/2022/02/16/VIDEUoSzk8MaLxP30ReHaCrc220216.shtml">
                                    <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                </a>
                                <p>新闻直播间</p>
                            </div>
                            <img src="https://img1.baidu.com/it/u=2490414487,2343536729&fm=253&fmt=auto&app=138&f=JPEG?w=690&h=500">
                        </div>
                        <h3 class="vid-name"><a href="#">[新闻直播间]阿富汗 大批民众举行示威活动抗议美国掠夺阿资产</a>
                        </h3>
                    </div>
                    <hr>
                    <div class="wrap-vid">
                        <div class="zoom-container">
                            <div class="zoom-caption">
                                <span>CCTV</span>
                                <a href="https://tv.cctv.com/2021/08/18/VIDE1qJUHHf0ZXdA58Keap9Z210818.shtml">
                                    <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                </a>
                            </div>
                            <img src="https://img0.baidu.com/it/u=869218892,3345627094&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=338">
                        </div>
                        <h3 class="vid-name"><a href="#">[新闻直播间]外交部 阿富汗当务之急是恢复和平稳定与秩序 </a></h3>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="wrap-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-footer footer-1">
                    <div class="footer-heading"><h1><span style="color: #fff;">阿富汗国情小站</span></h1></div>
                    <div class="content">
                        <p>新闻第一时间为您呈现.</p>
                        <strong>邮箱:</strong>
                        <form action="#" method="post">
                            <input type="text" name="your-name" value="" size="40" placeholder="你的邮箱"/>
                            <input type="submit" value="提交" class="btn btn-3"/>
                        </form>
                    </div>
                </div>
                <div class="col-md-4 col-footer footer-2">

                </div>
                <div class="col-md-4 col-footer footer-3">
                    <div class="footer-heading"><h4>友情链接</h4></div>
                    <div class="content">
                        <ul>
                            <li><a href="#">国家建设</a></li>
                            <li><a href="#">最新掌控</a></li>
                            <li><a href="#">情报局</a></li>
                            <li><a href="#">联系我们</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right">
        <p>Copyright &copy; 2024</p>
    </div>
</footer>
</body>
</html>
