<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="">
    <meta name="author" content="">
    <title>历史和地理上的阿富汗</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- Owl Carousel Assets -->
    <link href="../static/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="../static/owl-carousel/owl.theme.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="../static/font-awesome-4.4.0/css/font-awesome.min.css" type="text/css">

    <!-- jQuery and Modernizr-->
    <script src="../static/js/jquery-2.1.1.js"></script>

    <!-- Core JavaScript Files -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="../static/js/html5shiv.js"></script>
    <script src="../static/js/respond.min.js"></script>
    <![endif]-->
</head>
<!-- background -->
<body style="background-image: url('../static/images/8.jpg');">
<header>
    <!--Top-->
    <nav id="top">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <strong>欢迎光临!阿富汗国情小站</strong>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline top-link link">
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <!--Navigation-->
    <nav id="menu" class="navbar container">
        <div class="navbar-header">
            <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
            <a class="navbar-brand" href="#">
                <div class="logo"><span>阿富汗国情小站</span></div>
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/Afghanistan"><i class="fa fa-home"></i> 首页</a></li>
                <li><a href="/Afghanistan/history"><i class="fa fa-history"></i> 历史</a></li>
                <li><a href="/Afghanistan/culture"><i class="fa fa-globe"></i> 文化</a></li>
                <li><a href="/Afghanistan/diplomacy"><i class="fa fa-users"></i> 外交</a></li>
                <li><a href="/Afghanistan/contact"><i class="fa fa-comments"></i> 联系我们</a></li>
            </ul>
        </div>
    </nav>
</header>

<!-- /////////////////////////////////////////Content -->
<div id="page-content" class="single-page container">
    <div class="row">
        <div id="main-content" class="col-md-8">
            <div class="box">
                <figure class="wrap-vid">
                    <img src="../static/images/GettyImages.webp" alt="" style="width: 100%; height: 400px;">
                    <div class="line"></div>
                    <figcaption>
                        <h1 class="vid-name"><a href="#">从亚历山大大帝时代起 历史绘画中的阿富汗</a></h1>
                        <div class="info">
                            <span><i class="fa fa-calendar"></i>2023/12/1</span>
                        </div>
                    </figcaption>
                </figure>
                <p style="margin-top: 20px">
                    这片连接东亚、西亚、南亚和中亚的封闭土地是许多古代王国和文明的家园，也是从古到今战争和冲突的战场。

                    阿富汗居住着不同的种族，最主要的是普什图人、塔吉克人、乌兹别克人、哈扎拉人和土库曼人。他们讲多种语言，最主要的是波斯语、达里语、普什图语、乌兹别克语，以及土库曼语、乌尔都语、英语、俾路支语、阿拉伯语等。

                    阿富汗的地理位置使该国长期处于战争状态；它位于连接欧洲和印度的“丝绸之路”上。

                    自亚历山大大帝统治古代马其顿人、伊斯兰征服、蒙古人和其他人统治该地区以来，阿富汗一直是许多入侵民族和征服者的目标。

                    坎大哈的阿拉霍西亚市，一些研究人员认为它的名字来源于亚历山大大帝，与这位历史领袖对抗印度的运动有关。
                </p>
                <figure id="attachment_215081" aria-describedby="caption-attachment-215081" style="width:600px"
                        class="wp-caption aligncenter"><img loading="lazy" class="size-arc-image-770 wp-image-215081"
                                                            src="https://chinese.aljazeera.net/wp-content/uploads/2021/08/2-83.jpg?w=770&amp;resize=770%2C513&amp;quality=80"
                                                            alt="" data-recalc-dims="1">
                    <figcaption id="caption-attachment-215081" class="wp-caption-text">
                        公元前329年，亚历山大大帝在坎大哈被称为“亚历山大”的阿拉霍西亚
                    </figcaption>
                </figure>
                <p style="margin-top: 20px">

                <p>
                    阿富汗是许多王国的发源地，如希腊大夏王国、贵霜帝国、萨曼王朝、伽色尼王朝、帖木儿帝国等出现在阿富汗的王朝，与其他王国统治的邻国形成了超级大国。</p>
                <p>
                    1878年至1880年间，英国统治者（英国在印度次大陆的殖民统治）和阿富汗酋长之间爆发了英阿战争。这场战争始于1878年英国入侵，当时埃米尔谢尔·阿里汗被迫逃离，而他的继任者穆罕默德·雅各布汗与英国签署了《甘达马克条约》，但很快战争爆发，雅各布汗在英国和俄罗斯帝国之间所谓的大国博弈中放弃了权力。</p>
                <p>
                    第二次战役是在1880年，当时英国击败了阿尤布汗，并选择了阿卜杜勒·拉赫曼汗成为埃米尔，他再次签署了《甘达马克条约》。随后是1919年的第三次英阿战争，阿富汗独立，阿富汗人然后控制了他们的外交事务，英国在承认印度和巴基斯坦之前承认了阿富汗是一个独立的国家。</p>
                <figure id="attachment_215083" aria-describedby="caption-attachment-215083" style="width:600px"
                        class="wp-caption aligncenter"><img loading="lazy" class="size-arc-image-770 wp-image-215083"
                                                            src="https://chinese.aljazeera.net/wp-content/uploads/2021/08/GettyImages-92822087.jpg?w=770&resize=770%2C460&quality=80"
                                                            alt="" data-recalc-dims="1"/>
                    <figcaption id="caption-attachment-215083" class="wp-caption-text">
                        1880年至1901年的阿富汗埃米尔阿卜杜勒·拉赫曼·汗在第二次英阿战争的混乱结束后领导重建国家 (盖帝图像)
                    </figcaption>
                </figure>
                <p></p>
                <figure id="attachment_215077" aria-describedby="caption-attachment-215077" style="width:600px"
                        class="wp-caption aligncenter"><img loading="lazy" class="size-arc-image-770 wp-image-215077"
                                                            src="https://chinese.aljazeera.net/wp-content/uploads/2021/08/GettyImages-92822081.jpg?w=770&resize=770%2C536&quality=80"
                                                            alt="" data-recalc-dims="1"/>
                    <figcaption id="caption-attachment-215077" class="wp-caption-text">喀布尔的英国士兵 (盖帝图像)
                    </figcaption>
                </figure>
                <p></p>
                <figure id="attachment_215075" aria-describedby="caption-attachment-215075" style="width:600px"
                        class="wp-caption aligncenter"><img loading="lazy" class="size-arc-image-770 wp-image-215075"
                                                            src="https://chinese.aljazeera.net/wp-content/uploads/2021/08/GettyImages-92822083.jpg?w=770&resize=770%2C524&quality=80"
                                                            alt="" data-recalc-dims="1"/>
                    <figcaption id="caption-attachment-215075" class="wp-caption-text">袭击和屠杀在喀布尔的英国高级专员
                        (盖帝图像)
                    </figcaption>
                </figure>
                <p></p>
                <figure id="attachment_215073" aria-describedby="caption-attachment-215073" style="width:600px"
                        class="wp-caption aligncenter"><img loading="lazy" class="size-arc-image-770 wp-image-215073"
                                                            src="https://chinese.aljazeera.net/wp-content/uploads/2021/08/GettyImages-92822067.jpg?w=770&resize=770%2C1025&quality=80"
                                                            alt="" data-recalc-dims="1"/>
                    <figcaption id="caption-attachment-215073" class="wp-caption-text">1841年苏格兰外交官亚历山大·伯恩斯被杀
                        (盖帝图像)
                    </figcaption>
                </figure>
                <p></p>
                <figure id="attachment_215071" aria-describedby="caption-attachment-215071" style="width:600px"
                        class="wp-caption aligncenter"><img loading="lazy" class="size-arc-image-770 wp-image-215071"
                                                            src="https://chinese.aljazeera.net/wp-content/uploads/2021/08/GettyImages-92822069.jpg?w=770&resize=770%2C578&quality=80"
                                                            alt="" data-recalc-dims="1"/>
                    <figcaption id="caption-attachment-215071" class="wp-caption-text">
                        1842年，埃尔芬斯通军队大屠杀导致16000多名英国士兵被阿富汗战士杀死，英国东印度公司的英国外科医生威廉·布莱登是4500人军队中唯一一个在英国从喀布尔撤军结束时到达贾拉拉巴德安全地带的人
                        (盖帝图像)
                    </figcaption>
                </figure>
                <p>
                    阿富汗人是伊斯兰历史上著名的雅利安人（波斯人、库尔德人和塔吉克人的兄弟）。大量历史学家形容他们强大而凶猛，旅行家伊本·白图泰在访问喀布尔市及周边地区时也作出了类似描述。</p>
                <p>
                    伊本·白图泰在他的著作《伊本·白图泰游记》的第三部分谈到喀布尔，“然后我们去了喀布尔，过去它是一个伟大的城市，现在这里有一个村庄，里面居住着一群非阿拉伯的人，他们称自己为阿富汗人，他们有山和沙阿，他们十分勇猛，大多数人是土匪，这里最大的山被称为苏莱曼山，先知苏莱曼曾在天黑的时候登上这座山，俯瞰印度大地，所以山就以他的名字命名，阿富汗国王就住在里面。”</p>
                <figure id="attachment_215069" aria-describedby="caption-attachment-215069" style="width:600px"
                        class="wp-caption aligncenter"><img loading="lazy" class="size-arc-image-770 wp-image-215069"
                                                            src="https://chinese.aljazeera.net/wp-content/uploads/2021/08/GettyImages-92822066.jpg?w=770&resize=770%2C526&quality=80"
                                                            alt="" data-recalc-dims="1"/>
                    <figcaption id="caption-attachment-215069" class="wp-caption-text">英国军队在第一次英阿战争中占领加兹尼
                        (盖帝图像)
                    </figcaption>
                </figure>
                <p></p>
                <figure id="attachment_215067" aria-describedby="caption-attachment-215067" style="width:600px"
                        class="wp-caption aligncenter"><img loading="lazy" class="size-arc-image-770 wp-image-215067"
                                                            src="https://chinese.aljazeera.net/wp-content/uploads/2021/08/GettyImages-876353206.jpg?w=770&resize=770%2C533&quality=80"
                                                            alt="" data-recalc-dims="1"/>
                    <figcaption id="caption-attachment-215067" class="wp-caption-text">1928
                        年，阿富汗国王阿曼努拉汗和他的妻子索拉雅·泰尔齐·哈尼姆与土耳其总统穆斯塔法·凯末尔·阿塔图尔克
                        (盖帝图像)
                    </figcaption>
                </figure>
                <p></p>
                <figure id="attachment_215065" aria-describedby="caption-attachment-215065" style="width:600px"
                        class="wp-caption aligncenter"><img loading="lazy" class="size-arc-image-770 wp-image-215065"
                                                            src="https://chinese.aljazeera.net/wp-content/uploads/2021/08/70c3348d-90c2-4913-95c9-ae58b80240f0.jpeg?w=686&resize=686%2C515&quality=80"
                                                            alt="" data-recalc-dims="1"/>
                    <figcaption id="caption-attachment-215065" class="wp-caption-text">
                        1989年2月15日的档案照片。在1979年开始的战争中，15000名士兵失败后，最后一支苏联士兵分遣队穿过阿富汗和苏联乌兹别克斯坦边境的一座桥梁时挥手致意
                        (美联社)
                    </figcaption>
                </figure>
                <div class="article-source">来源<!-- --> : <!-- -->半岛电视台</div>
                <div>
                    <div class="line"></div>
                    <div class="comment">
                        <h3>发表评论</h3>
                        <form name="form1" method="post" action="">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control input-lg" name="name" id="name"
                                               placeholder="标题" required="required"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control input-lg" name="email" id="email"
                                               placeholder="邮箱" required="required"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
										<textarea name="message" id="message" class="form-control" rows="4" cols="25"
                                                  required="required"
                                                  placeholder="内容"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-4 btn-block" name="btnBooking"
                                            id="btnBbooking">
                                        发布
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div id="sidebar" class="col-md-4">
                <!---- Start Widget ---->
                <div class="widget wid-follow">
                    <div class="heading"><h4>新闻头条</h4></div>
                    <div class="content">
                        <!-- <ul class="list-inline">
                            <li>
                                <a href="facebook.com/">
                                    <div class="box-facebook">
                                        <span class="fa fa-facebook fa-2x icon"></span>
                                        <span>1250</span>
                                        <span>Fans</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="facebook.com/">
                                    <div class="box-twitter">
                                        <span class="fa fa-twitter fa-2x icon"></span>
                                        <span>1250</span>
                                        <span>Fans</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="facebook.com/">
                                    <div class="box-google">
                                        <span class="fa fa-google-plus fa-2x icon"></span>
                                        <span>1250</span>
                                        <span>Fans</span>
                                    </div>
                                </a>
                            </li>
                        </ul> -->
                        <img src="../static/images/banner.jpg"/>
                    </div>
                </div>
                <!---- Start Widget ---->
                <div class="widget wid-post">
                    <div class="heading"><h4>新闻</h4></div>
                    <div class="content">
                        <div class="post wrap-vid">
                            <div class="zoom-container">
                                <div class="zoom-caption">
                                    <span>阿富汗</span>
                                    <a href="map.html">
                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                    </a>
                                    <p>阿富汗</p>
                                </div>
                                <img src="../static/images/1.jpg"/>
                            </div>
                            <div class="wrapper">
                                <h5 class="vid-name"><a href="#">阿富汗</a></h5>
                                <div class="info">
                                    <h6>By <a href="#">Kelvin</a></h6>
                                    <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                    <span><i class="fa fa-heart"></i>1,200</span>
                                </div>
                            </div>
                        </div>
                        <div class="post wrap-vid">
                            <div class="zoom-container">
                                <div class="zoom-caption">
                                    <span>Youtube</span>
                                    <a href="map.html">
                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                    </a>
                                    <p>阿富汗</p>
                                </div>
                                <img src="../static/images/2.jpg"/>
                            </div>
                            <div class="wrapper">
                                <h5 class="vid-name"><a href="#">阿富汗</a></h5>
                                <div class="info">
                                    <h6>By <a href="#">Kelvin</a></h6>
                                    <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                    <span><i class="fa fa-heart"></i>1,200</span>
                                </div>
                            </div>
                        </div>
                        <div class="post wrap-vid">
                            <div class="zoom-container">
                                <div class="zoom-caption">
                                    <span>Youtube</span>
                                    <a href="map.html">
                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                    </a>
                                    <p>阿富汗</p>
                                </div>
                                <img src="../static/images/3.jpg"/>
                            </div>
                            <div class="wrapper">
                                <h5 class="vid-name"><a href="#">阿富汗</a></h5>
                                <div class="info">
                                    <h6>By <a href="#">Kelvin</a></h6>
                                    <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                    <span><i class="fa fa-heart"></i>1,200</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!---- Start Widget ---->
                <div class="widget ">
                    <div class="heading"><h4>推荐视频</h4></div>
                    <div class="content">
                        <div class="wrap-vid">
                            <div class="zoom-container">
                                <div class="zoom-caption">
                                    <span>Youtube</span>
                                    <a href="map.html">
                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                    </a>
                                    <p>阿富汗</p>
                                </div>
                                <img src="../static/images/1.jpg"/>
                            </div>
                            <h3 class="vid-name"><a href="#">阿富汗</a></h3>
                            <div class="info">
                                <h5>By <a href="#">Kelvin</a></h5>
                                <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                <span><i class="fa fa-heart"></i>1,200</span>
                            </div>
                        </div>
                        <div class="wrap-vid">
                            <div class="zoom-container">
                                <div class="zoom-caption">
                                    <span>Youtube</span>
                                    <a href="map.html">
                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                    </a>
                                    <p>阿富汗</p>
                                </div>
                                <img src="../static/images/2.jpg"/>
                            </div>
                            <h3 class="vid-name"><a href="#">阿富汗</a></h3>
                            <div class="info">
                                <h5>By <a href="#">Kelvin</a></h5>
                                <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                <span><i class="fa fa-heart"></i>1,200</span>
                            </div>
                        </div>
                        <div class="wrap-vid">
                            <div class="zoom-container">
                                <div class="zoom-caption">
                                    <span>Youtube</span>
                                    <a href="map.html">
                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                    </a>
                                    <p>阿富汗</p>
                                </div>
                                <img src="../static/images/3.jpg"/>
                            </div>
                            <h3 class="vid-name"><a href="#">阿富汗</a></h3>
                            <div class="info">
                                <h5>By <a href="#">Kelvin</a></h5>
                                <span><i class="fa fa-calendar"></i>25/3/2015</span>
                                <span><i class="fa fa-heart"></i>1,200</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <footer>
        <div class="wrap-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-footer footer-1">
                        <div class="footer-heading"><h1><span style="color: #fff;">阿富汗国情小站</span></h1></div>
                        <div class="content">
                            <p>新闻第一时间为您呈现.</p>
                            <strong>邮箱:</strong>
                            <form action="#" method="post">
                                <input type="text" name="your-name" value="" size="40" placeholder="你的邮箱"/>
                                <input type="submit" value="提交" class="btn btn-3"/>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-4 col-footer footer-2">

                    </div>
                    <div class="col-md-4 col-footer footer-3">
                        <div class="footer-heading"><h4>友情链接</h4></div>
                        <div class="content">
                            <ul>
                                <li><a href="#">国家建设</a></li>
                                <li><a href="#">最新掌控</a></li>
                                <li><a href="#">情报局</a></li>
                                <li><a href="#">联系我们</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right">
            <p>Copyright &copy; 2024</p>
        </div>
    </footer>

    });
    </script>

</body>
</html>
