<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="">
    <meta name="author" content="">
	
    <title>阿富汗是世界最不发达国家之一。历经战乱，经济破坏殆尽，严重依赖外援。</title>
	
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"  type="text/css">
	
	<!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
	
	<!-- Owl Carousel Assets -->
    <link href="../static/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="../static/owl-carousel/owl.theme.css" rel="stylesheet">
	
	<!-- Custom Fonts -->
    <link rel="stylesheet" href="../static/font-awesome-4.4.0/css/font-awesome.min.css"  type="text/css">
	
	<!-- jQuery and Modernizr-->
	<script src="../static/js/jquery-2.1.1.js"></script>
	
	<!-- Core JavaScript Files -->  	 
    <script src="../static/js/bootstrap.min.js"></script>
	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="../static/js/html5shiv.js"></script>
        <script src="../static/js/respond.min.js"></script>
    <![endif]-->
</head>

<body style="background-image: url('images/8.jpg');">
<header>
	<!--Top-->
	<nav id="top">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<strong>欢迎光临!阿富汗国情小站</strong>
				</div>
				<div class="col-md-6">
					<ul class="list-inline top-link link">
						<li><a href="./Afghanistan"><i class="fa fa-home"></i> 首页</a></li>
                        <li><a href="./Afghanistan/history"><i class="fa fa-history"></i> 历史</a></li>
                        <li><a href="./Afghanistan/culture"><i class="fa fa-globe"></i> 文化</a></li>
                        <li><a href="./Afghanistan/diplomacy"><i class="fa fa-users"></i> 外交</a></li>
                        <li><a href="./Afghanistan/contact"><i class="fa fa-comments"></i> 联系我们</a></li>
						
					</ul>
				</div>
			</div>
		</div>
	</nav>
	
	<!--Navigation-->
    <nav id="menu" class="navbar container">
		<div class="navbar-header">
			<button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
			<a class="navbar-brand" href="#">
				<div class="logo"><span>阿富汗国情小站</span></div>
			</a>
		</div>
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li><a href="afghanistan_overview.html">首页</a></li>
				<!-- <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">新闻 <i class="fa fa-arrow-circle-o-down"></i></a>
					<div class="dropdown-menu">
						<div class="dropdown-inner">
							<ul class="list-unstyled">
								<li><a href="archive.html">新闻</a></li>
								
							</ul>
						</div>
					</div>
				</li>
				 -->
				<li><a href="history.html"><i class="fa fa-history"></i> 历史</a></li>
				<li><a href="culture.html"><i class="fa fa-globe"></i> 文化</a></li>
				<li><a href="diplomacy.html"><i class="fa fa-users"></i> 外交</a></li>
				
				
				<li><a href="contact.html"><i class="fa fa-envelope"></i> 联系我们</a></li>
			</ul>
			
		</div>
	</nav>
</header>
	<div class="featured container">
		<div id="owl-demo" class="owl-carousel">
			<div class="item">
				<div class="zoom-container">
					<div class="zoom-caption">
						<span>Youtube</span>
						<a href="map.html">
							<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
						</a>
						<p>阿富汗</p>
					</div>
					<img src="../static/images/1.jpg" />
				</div>
			</div>
			<div class="item">
				<div class="zoom-container">
					<div class="zoom-caption">
						<span>Youtube</span>
						<a href="map.html">
							<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
						</a>
						<p>阿富汗</p>
					</div>
					<img src="../static/images/2.jpg" />
				</div>
			</div>
			<div class="item">
				<div class="zoom-container">
					<div class="zoom-caption">
						<span>Youtube</span>
						<a href="map.html">
							<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
						</a>
						<p>阿富汗</p>
					</div>
					<img src="../static/images/3.jpg" />
				</div>
			</div>
			<div class="item">
				<div class="zoom-container">
					<div class="zoom-caption">
						<span>Youtube</span>
						<a href="map.html">
							<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
						</a>
						<p>阿富汗</p>
					</div>
					<img src="../static/images/8.jpg" />
				</div>
			</div>
			<div class="item">
				<div class="zoom-container">
					<div class="zoom-caption">
						<span>Youtube</span>
						<a href="map.html">
							<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
						</a>
						<p>阿富汗</p>
					</div>
					<img src="../static/images/9.jpg" />
				</div>
			</div>
			<div class="item">
				<div class="zoom-container">
					<div class="zoom-caption">
						<span>Youtube</span>
						<a href="map.html">
							<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
						</a>
						<p>阿富汗</p>
					</div>
					<img src="../static/images/10.jpg" />
				</div>
			</div>
			<div class="item">
				<div class="zoom-container">
					<div class="zoom-caption">
						<span>Youtube</span>
						<a href="map.html">
							<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
						</a>
						<p>阿富汗</p>
					</div>
					<img src="../static/images/11.jpg" />
				</div>
			</div>
			<div class="item">
				<div class="zoom-container">
					<div class="zoom-caption">
						<span>Youtube</span>
						<a href="map.html">
							<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
						</a>
						<p>阿富汗</p>
					</div>
					<img src="../static/images/12.jpg" />
				</div>
			</div>
		</div>
	</div>
	<!-- Header -->
	
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content" class="single-page container">
		<div class="row">
			<div id="main-content" class="col-md-8">
				<div class="box">
					<div class="wrap-vid">
						
						<img src="../static/images/1.jpg"  width="100%" style="height: 400px;" alt="" />
					</div>
					<div class="share">
						<ul class="list-inline center">
							<br />
							<li><a href="#" class="btn btn-facebook"><i class="fa fa-facebook"></i> Share</a></li>
							<li><a href="#" class="btn btn-twitter"><i class="fa fa-twitter"></i> Tweet</a></li>
							<li><a href="#" class="btn btn-pinterest"><i class="fa fa-pinterest"></i> Tweet</a></li>
							<li><a href="#" class="btn btn-google"><i class="fa fa-google-plus-square"></i> Google+</a></li>
							<li><a href="#" class="btn btn-mail"><i class="fa fa-envelope-o"></i> E-mail</a></li>
						</ul>
					</div>
					<div class="line"></div>
					<h1 class="vid-name"><a href="#">大外交｜阿富汗“变天”对中国意味着什么？</a></h1>
					<div class="info">
						<h5>By <a href="#">Kelvin</a></h5>
						<span><i class="fa fa-calendar"></i>25/3/2015</span> 
						<span><i class="fa fa-heart"></i>1,200</span>
					</div>
					<p style="margin-top: 20px">自8月6日塔利班攻占第一座阿富汗省会城市之后，他们仅用了10天时间就开进了首都喀布尔，对外界宣告阿富汗战争的结束和塔利班时代的再临，这个与中国接壤的国家正走在历史的十字路口上。
 <br>
近日，在中国外交部的例行记者会上，中外记者一连三天都不停提问有关阿富汗局势的问题，外界迫切希望更多了解中方对于阿富汗局势和塔利班政权的态度。与此同时，国际上对于阿富汗国内“变天”的讨论格外热烈，人们期待着这个历经四十余年战火的国家可从此凤凰涅槃，但也不曾忘记二十年前塔利班执政时留下的那些回忆和伤痕。对于中国来说，则有三个关键方面亟待更深入的分析与解答。</p>
					<h4>塔利班掌权对中国在阿利益有何影响？</h4>
					<p style="margin-top: 20px">

在被问及是否将承认塔利班掌权的政府时，外交部发言人华春莹8月16日首次回应时表示，中方在充分尊重阿富汗国家主权及国内各派意愿基础上，同阿富汗塔利班等保持着联系和沟通，一直为推动政治解决阿富汗问题发挥建设性作用，“我们希望阿富汗塔利班同阿富汗各党派、各民族团结起来，建立符合阿富汗自身国情、广泛包容的政治架构，为阿富汗实现持久和平奠定基础。”
<br>
对于阿富汗当前局势的重大变化，中方早已有所预警。中国领事服务网分别于今年5月27日、6月22日以及7月30日三次发布与阿富汗相关的领事提醒，告诫中国公民勿前往或尽快离开阿富汗。
<br>
中国驻阿富汗大使王愚8月16日接受采访时也表示，驻阿使馆未雨绸缪，早研判、早行动，在阿富汗战事刚起，乱局苗头初现时，启动了劝离、撤离在阿中国公民工作，大多数中国公民已通过集中、分散等多种形式离开阿富汗。
<br>
此外，中国政府也一直为推进阿富汗和平和解方面发挥建设性作用。澎湃新闻（www.thepaper.cn）也从外交人士处了解到，近日中国政府阿富汗问题特使岳晓勇一直在阿富汗、俄罗斯、土耳其、乌兹别克斯坦、塔吉克斯坦、伊朗等国进行紧张穿梭，目前岳晓勇特使本人仍在国外进行斡旋和访问。
<br>
<img src="../static/images/258.jpg" width="100%" alt="" />
<br>
与此同时，美国有线电视新闻网（CNN）、《华盛顿邮报》则在近两日的报道中重点强调了塔利班掌权会对中国边境以及国家利益带来的风险与挑战。CNN在16日的报道中称，中国尤其应担心阿富汗重新成为恐怖分子和极端分子的聚集地，中国通过“一带一路”倡议在中亚进行大量投资，塔利班掌权后的外溢效应可能会威胁到中国在这片广泛区域中的利益。
<br>
不过，事实上，这些也正是此前王毅国务委员兼外长在天津同塔利班政治委员会负责人巴拉达尔会见时的优先考量。王毅强调，希望阿塔同“东伊运”等一切恐怖组织彻底划清界限，予以坚决有效打击，为地区安全稳定及发展合作扫除障碍，发挥积极作用，创造有利条件。</p>
					
					<div class="line"></div>
					<div class="comment">
						<h3>发表评论</h3>
						<form name="form1" method="post" action="">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
									<input type="text" class="form-control input-lg" name="name" id="name" placeholder="标题" required="required" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="email" class="form-control input-lg" name="email" id="email" placeholder="邮箱" required="required" />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<textarea name="message" id="message" class="form-control" rows="4" cols="25" required="required"
										placeholder="内容"></textarea>
									</div>						
									<button type="submit" class="btn btn-4 btn-block" name="btnBooking" id="btnBbooking">
								发布</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				
				<div class="box">
					
					
				</div>
			</div>
			<div id="sidebar" class="col-md-4">
				<!---- Start Widget ---->
				<div class="widget wid-follow">
					<div class="heading"><h4>新闻头条</h4></div>
					<div class="content">
						<!-- <ul class="list-inline">
							<li>
								<a href="facebook.com/">
									<div class="box-facebook">
										<span class="fa fa-facebook fa-2x icon"></span>
										<span>1250</span>
										<span>Fans</span>
									</div>
								</a>
							</li>
							<li>
								<a href="facebook.com/">
									<div class="box-twitter">
										<span class="fa fa-twitter fa-2x icon"></span>
										<span>1250</span>
										<span>Fans</span>
									</div>
								</a>
							</li>
							<li>
								<a href="facebook.com/">
									<div class="box-google">
										<span class="fa fa-google-plus fa-2x icon"></span>
										<span>1250</span>
										<span>Fans</span>
									</div>
								</a>
							</li>
						</ul> -->
						<img src="../static/images/banner.jpg" />
					</div>
				</div>
				<!---- Start Widget ---->
				<div class="widget wid-post">
					<div class="heading"><h4>新闻</h4></div>
					<div class="content">
						<div class="post wrap-vid">
							<div class="zoom-container">
								<div class="zoom-caption">
									<span>阿富汗</span>
									<a href="map.html">
										<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
									</a>
									<p>阿富汗</p>
								</div>
								<img src="../static/images/1.jpg" />
							</div>
							<div class="wrapper">
								<h5 class="vid-name"><a href="#">阿富汗</a></h5>
								<div class="info">
									<h6>By <a href="#">Kelvin</a></h6>
									<span><i class="fa fa-calendar"></i>25/3/2015</span> 
									<span><i class="fa fa-heart"></i>1,200</span>
								</div>
							</div>
						</div>
						<div class="post wrap-vid">
							<div class="zoom-container">
										<div class="zoom-caption">
											<span>Youtube</span>
											<a href="map.html">
												<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
											</a>
											<p>阿富汗</p>
										</div>
										<img src="../static/images/2.jpg" />
									</div>
							<div class="wrapper">
								<h5 class="vid-name"><a href="#">阿富汗</a></h5>
								<div class="info">
									<h6>By <a href="#">Kelvin</a></h6>
									<span><i class="fa fa-calendar"></i>25/3/2015</span> 
									<span><i class="fa fa-heart"></i>1,200</span>
								</div>
							</div>
						</div>
						<div class="post wrap-vid">
							<div class="zoom-container">
								<div class="zoom-caption">
									<span>Youtube</span>
									<a href="map.html">
										<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
									</a>
									<p>阿富汗</p>
								</div>
								<img src="../static/images/3.jpg" />
							</div>
							<div class="wrapper">
								<h5 class="vid-name"><a href="#">阿富汗</a></h5>
								<div class="info">
									<h6>By <a href="#">Kelvin</a></h6>
									<span><i class="fa fa-calendar"></i>25/3/2015</span> 
									<span><i class="fa fa-heart"></i>1,200</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!---- Start Widget ---->
				<div class="widget ">
					<div class="heading"><h4>推荐视频</h4></div>
					<div class="content">
						<div class="wrap-vid">
							<div class="zoom-container">
								<div class="zoom-caption">
									<span>Youtube</span>
									<a href="map.html">
										<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
									</a>
									<p>阿富汗</p>
								</div>
								<img src="../static/images/1.jpg" />
							</div>
							<h3 class="vid-name"><a href="#">阿富汗</a></h3>
							<div class="info">
								<h5>By <a href="#">Kelvin</a></h5>
								<span><i class="fa fa-calendar"></i>25/3/2015</span> 
								<span><i class="fa fa-heart"></i>1,200</span>
							</div>
						</div>
						<div class="wrap-vid">
							<div class="zoom-container">
								<div class="zoom-caption">
									<span>Youtube</span>
									<a href="map.html">
										<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
									</a>
									<p>阿富汗</p>
								</div>
								<img src="../static/images/2.jpg" />
							</div>
							<h3 class="vid-name"><a href="#">阿富汗</a></h3>
							<div class="info">
								<h5>By <a href="#">Kelvin</a></h5>
								<span><i class="fa fa-calendar"></i>25/3/2015</span> 
								<span><i class="fa fa-heart"></i>1,200</span>
							</div>
						</div>
						<div class="wrap-vid">
							<div class="zoom-container">
								<div class="zoom-caption">
									<span>Youtube</span>
									<a href="map.html">
										<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
									</a>
									<p>阿富汗</p>
								</div>
								<img src="../static/images/3.jpg" />
							</div>
							<h3 class="vid-name"><a href="#">阿富汗</a></h3>
							<div class="info">
								<h5>By <a href="#">Kelvin</a></h5>
								<span><i class="fa fa-calendar"></i>25/3/2015</span> 
								<span><i class="fa fa-heart"></i>1,200</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<footer>
		<div class="wrap-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-footer footer-1">
						<div class="footer-heading"><h1><span style="color: #fff;">阿富汗国情小站</span></h1></div>
						<div class="content">
							<p>新闻第一时间为您呈现.</p>
							<strong>邮箱:</strong>
							<form action="#" method="post">
								<input type="text" name="your-name" value="" size="40" placeholder="你的邮箱" />
								<input type="submit" value="提交" class="btn btn-3" />
							</form>
						</div>
					</div>
					<div class="col-md-4 col-footer footer-2">
					
					</div>
					<div class="col-md-4 col-footer footer-3">
						<div class="footer-heading"><h4>友情链接</h4></div>
						<div class="content">
							<ul>
								<li><a href="#">国家建设</a></li>
								<li><a href="#">最新掌控</a></li>
								<li><a href="#">情报局</a></li>
								<li><a href="#">联系我们</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="copy-right">
			<p>Copyright &copy; 2024</p>
		</div>
	</footer>

    });
    </script>
	
</body>
</html>
