                                                                                                                                                                                                                               <!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="这是阿富汗国情小站的地图">
    <meta name="author" content="非凡大师小组">
    <title>阿富汗国情小站</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/rolling.css">
    <!-- Owl Carousel Assets -->
    <link href="/static/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="/static/owl-carousel/owl.theme.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    <link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="/static/font-awesome-4.4.0/css/font-awesome.min.css" type="text/css">

    <!-- jQuery and Modernizr-->
    <script src="/static/js/jquery-2.1.1.js"></script>

    <!-- Core JavaScript Files -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<button onclick="goBack()" style="background-color: #222222;
        border: 10px;
        color: #f0f0f0;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 4px;
        cursor: pointer;
        border-radius: 10px;
        height: 100%;">
    <span>返回</span>
</button>

<!-- 地图容器 -->
<h1>阿富汗地图</h1>
<div id="map"></div>
<script>
    // 设置地图样式
    var mapStyle = [
        {
            "featureType": "water",
            "elementType": "all",
            "stylers": {
                "color": "#C0E4F3"
            }
        },
        {
            "featureType": "land",
            "elementType": "all",
            "stylers": {
                "color": "#f2f2f2"
            }
        },
        {
            "featureType": "road",
            "elementType": "geometry",
            "stylers": {
                "visibility": "on"
            }
        },
        {
            "featureType": "road",
            "elementType": "geometry.fill",
            "stylers": {
                "color": "#ffffff"
            }
        },
        {
            "featureType": "road",
            "elementType": "geometry.stroke",
            "stylers": {
                "color": "#dcdcdc"
            }
        }
        // 其他样式设置...
    ];
    // 创建地图实例
    var map = new BMap.Map("map");

    // 创建中心点坐标（喀布尔）
    var centerPoint = new BMap.Point(69.2075, 34.5553);
    var marker = new BMap.Marker(centerPoint);
    // 将标记点添加到地图上
    map.addOverlay(marker);
    // 设置地图中心点和缩放级别
    map.centerAndZoom(centerPoint, 12);

    // 添加缩放控件
    var zoomControl = new BMap.NavigationControl();
    map.addControl(zoomControl);

    // 添加平移缩放控件
    var navigationControl = new BMap.NavigationControl({
        type: BMAP_NAVIGATION_CONTROL_LARGE
    });
    map.addControl(navigationControl);

    // 添加缩放平移控件
    var navigationControl = new BMap.NavigationControl({
        anchor: BMAP_ANCHOR_TOP_LEFT,
        offset: new BMap.Size(50, 50),
        type: BMAP_NAVIGATION_CONTROL_ZOOM
    });
    map.addControl(navigationControl);

    map.addEventListener("mousewheel", function (e) {
        var delta = e.wheelDelta || -e.detail;
        var zoom = map.getZoom();
        if (delta > 0) {
            map.setZoom(zoom + 1); // 放大地图
        } else {
            map.setZoom(zoom - 1); // 缩小地图
        }
    });

</script>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>
